*,
::before,
::after {
  box-sizing: border-box !important;
  outline: none;
}

body {
  position: relative;
  font: normal 14px/24px Helvetica;
  color: #333333;
  background-color: #ffffff;
  overflow-x: hidden;

  &.bg-shadowed .backdrop {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #000000;
    opacity: .2;
    z-index: 1000;
    transition: background-color .4s;
  }
}

a {
  text-decoration: none;
  color: #333333;
  transition: color .3s;
}

button {
  border: none;
  background-color: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s;

  header.search-active & {
    visibility: visible;
    opacity: 1;
    z-index: 100;
  }

  header.header-catalog-active & {
    visibility: visible;
    opacity: 1;
    z-index: 101;
  }
}

.title {
  color: #2B2D30;

  @include screen(xl) {
    font: 600 24px/32px FuturaPT;
  }

  @include screen(l) {
    font: 600 32px/40px FuturaPT;
  }

  &--large {
    @include screen(xl) {
      font: 600 32px/32px FuturaPT;
    }

    @include screen(l) {
      font: 600 42px/50px FuturaPT;
    }
  }
}

.bg-full-width {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    display: block !important;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;
    width: 100vw;
    z-index: -1;
    background-color: rgba(247, 247, 247, 1);
  }
}

.bg-full-width-white {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    display: block !important;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;
    width: 100vw;
    z-index: -1;
    background-color: #ffffff;
  }
}

select {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}