*,
::before,
::after {
  box-sizing: border-box !important;
  outline: none;

  @include screen(xl) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  font: normal 14px/24px Helvetica;
  color: #333333;
  background-color: #ffffff;
  overflow-x: hidden;

  &.bg-shadowed .backdrop {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #000000;
    opacity: .2;
    z-index: 1000;
    transition: background-color .4s;
  }
}

a {
  text-decoration: none;
  color: #333333;
  transition: color .3s;
}

button {
  border: none;
  background-color: transparent;
}

.title {
  color: #2B2D30;

  @include screen(xl) {
    font: 600 24px/32px FuturaPT;
  }

  @include screen(l) {
    font: 600 32px/40px FuturaPT;
  }

  &--large {
    @include screen(xl) {
      font: 600 32px/32px FuturaPT;
    }

    @include screen(l) {
      font: 600 42px/50px FuturaPT;
    }
  }
}

.bg-full-width {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    display: block !important;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;
    width: 100vw;
    z-index: -1;
    background-color: rgba(247, 247, 247, 1);
  }
}

.bg-full-width-white {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    display: block !important;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;
    width: 100vw;
    z-index: -1;
    background-color: #ffffff;
  }
}

.bg-full-width-gray {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    display: block !important;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;
    width: 100vw;
    z-index: -1;
    background-color: #f7f7f7;
  }
}

.bg-full-width-header {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    display: block !important;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;
    width: 100vw;
    z-index: -1;
    background-color: #f7f7f7;
  }
}

select {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* .common-home {
  .header__catalog-menu {
    display: none;
  }
} */

.backdrop {
  display: none;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
}

.menu--opened {
  .header__catalog-container {
    display: block;
  }

  .header__catalog-menu {
    /* display: block; */
  }

  .main-banner .header__catalog-menu {
    display: none;
  }

  .backdrop {
    display: block;
    /*  background: rgba(255, 255, 255, .3); */
    backdrop-filter: blur(5px);
    /* filter: url('#blur');
    filter: blur(5px); */

    &::before {
      content: '';
      position: fixed;
      opacity: 1;
      width: 100%;
      height: 100vh;
      filter: url('#blur');
      filter: blur(5px);
    }
  }

  /* header,
  footer,
  .uk-container {
    filter: url('#blur');
    filter: blur(5px);
  } */

  .header__catalog {
    z-index: 300;
  }

  .header__catalog-btn {
    /* background-color: #ffffff; */
    position: relative;

    &::before {
      display: block;
    }

    /* span {
      color: #FF7914;
    } */

    /* svg {
      fill: #FF7914;
    } */
  }
}

.search--opened {
  .backdrop {
    display: block;
  }

  .search {
    /*  position: absolute; */
    z-index: 350;
    /*  width: 100%; */
  }

  .search input {
    position: relative;
    z-index: 350;
  }

  .search__close {
    opacity: 1;
    pointer-events: inherit;
    z-index: 351;
  }

  .search__btn {
    opacity: 1;
    pointer-events: inherit;
  }

  .search__result {
    opacity: 1;
    pointer-events: inherit;
    z-index: 350;
  }

  &-mobile {
    .search input {
      display: block !important;
      z-index: 500;
      pointer-events: inherit;
    }

    .search__close {
      opacity: 1;
      pointer-events: inherit;
      z-index: 351;
    }

    .search__btn {
      opacity: 1;
      pointer-events: inherit;
    }

    .backdrop {
      display: block;
    }
  }
}

.position-right {
  margin: auto 0 auto auto;

  &\@l {
    @include screen(l) {
      margin: auto 0 auto auto;
    }
  }

  &\@s {
    @include screen(xl) {
      margin: auto 0 auto auto;
    }
  }
}

.nice-select {
  min-width: 215px !important;
  background: #FFFFFF !important;
  border: 1px solid #E7E7E7 !important;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px !important;

  &::after {
    position: absolute !important;
    top: 0 !important;
    bottom: 0;
    right: 12px;
    margin: auto !important;
    height: 8px !important;
    width: 8px !important;
    border-bottom: 2px solid #FF7914 !important;
    border-right: 2px solid #FF7914 !important;
    pointer-events: none;
    position: absolute;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out !important;
  }

  .option {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    min-height: auto !important;
    padding: 15px 15px !important;
    font: normal 14px/20px Helvetica !important;
    color: #30373D !important;

    &.selected {
      font-weight: 500 !important;
    }
  }

  &.open .list {
    width: 100%;
  }
}

.uk-offcanvas-overlay::before {
  background: rgba(0, 0, 0, 0.5) !important;
  filter: blur(3px);
}

.uk-lightbox {
  background-color: #ffffff !important;
}

a.uk-lightbox-button {
  background: rgb(192, 188, 188);
  border-radius: 50%;

  polyline {
    stroke: #ffffff !important;
  }
}

button.uk-lightbox-toolbar-icon.uk-close-large.uk-icon.uk-close {
  line {
    stroke: #ffffff !important;
  }
}