<div class="uk-container about bg-full-width">
  <h2 class="title">Про магазин SPB-Xiaomi</h2>
  <div class="about__content uk-flex uk-flex-column@s">
    <div class="uk-width-1-2@l">
      <p>Продукция бренда Xiaomi известна качеством и надёжностью. Покупая ее, человек награждает себя стильной и
        современной техникой, которая будет актуальной еще несколько лет. Но радость владения технологичными гаджетами
        часто омрачается расходами на приобретение. Многие магазины, расположенные в СПб и окрестностях, завышают цены
        на Xiaomi, из-за чего покупка стает просто не выгодна.</p>
      <p class="about__subtitle">Насколько выгодно покупать Xiaomi на нашем сайте?</p>
      <p>Интернет-магазин retailapple.ru идёт навстречу клиенту, предлагая лучшую продукцию по привлекательной цене. У
        нас вы сможете дёшево подобрать подарок для близкого человека. Мы продаем технику Apple на 10-15% дешевле, чем
        известные сети магазинов, а с нашими акциями и дисконтной программой выгода от покупки становится очевидна.</p>
      <p class="about__subtitle">Каждый клиент получает:</p>
      <ul>
        <li>Бесплатную доставку смартфонов по СПб за 3 часа до двери</li>
        <li>Год гарантии на каждое приобретенное устройство</li>
        <li>Возможность полностью осмотреть устройство до покупки</li>
        <li>Скидки и подарки при покупке любого смартфона на сайте</li>
      </ul>
      <span>Оплачиваете товар только после полного осмотра и проверки устройства по imei.</span>
    </div>
    <div class="uk-width-1-2@l">
      <picture>
        <source srcset="img/pic/about.jpg" media="(min-width: 1200px)">
        <img src="img/pic/about-mobile.jpg" alt="Xiaomi">
      </picture>
    </div>
  </div>

  <ul class="features features--column uk-flex uk-flex-between uk-flex-column@s">
    <li class="features__item features__item--orange uk-flex">
      <div>
        <svg width="36" height="42">
          <use xlink:href="img/symbol/sprite.svg#feature-bag" />
        </svg>
      </div>
      <p>Только оригинальная<br> продукция Xiaomi</p>
    </li>
    <li class="features__item features__item--silver uk-flex">
      <div>
        <svg width="36" height="42">
          <use xlink:href="img/symbol/sprite.svg#feature-guard" />
        </svg>
      </div>
      <p>Гарантия на всю<br> продукцию до 2 лет</p>
    </li>
    <li class="features__item features__item--violet uk-flex">
      <div>
        <svg width="36" height="35">
          <use xlink:href="img/symbol/sprite.svg#feature-box" />
        </svg>
      </div>
      <p>Доставка за 2-3 часа<br> в день заказа</p>
    </li>
    <li class="features__item features__item--light-blue uk-flex">
      <div>
        <svg width="36" height="42">
          <use xlink:href="img/symbol/sprite.svg#feature-credit" />
        </svg>
      </div>
      <p>Оформляем кредит<br> за 5 минут по телефону</p>
    </li>
    <li class="features__item features__item--green uk-flex">
      <div>
        <svg width="36" height="42">
          <use xlink:href="img/symbol/sprite.svg#feature-phone-check" />
        </svg>
      </div>
      <p>Оплата только после<br> полного осмотра</p>
    </li>
  </ul>
</div>