<div class="description uk-container bg-full-width">
  <div class="description__frame">
    <div class="description__section uk-flex uk-flex-middle">
      <img src="img/temp/desc-1.jpg" width="523" height="360" alt="">
      <div class="uk-flex uk-flex-column">
        <span class="description__title">XIAOMI MI NOTE&nbsp;10</span>
        <p>Основная камера 108 Мп | 6.47" 3D AMOLED Full HD+ дисплей | Емкость батареи 5260 мАч | Быстрая зарядка
          мощностью 30 Вт | Подэкранный сканер | Мультифункциональный модуль NFC</p>
      </div>
    </div>

    <div class="description__section uk-flex uk-flex-row-reverse uk-flex-middle">
      <img src="img/temp/desc-2.jpg" width="523" height="360" alt="">
      <div class="uk-flex uk-flex-column">
        <span>УНИКАЛЬНАЯ СИСТЕМА КАМЕР
          ДЛЯ ПОТРЯСАЮЩИХ ФОТО</span>
        <p>Откройте новую эру в мобильной фотографии с Xiaomi Mi Note 10. Инновационная система камер смартфона состоит
          из пяти модулей и двух вспышек, которые обеспечивают невероятное качество фотографий. Все ваши снимки могут
          составить достойную конкуренцию фотографиям, сделанным с помощью профессионального оборудования.</p>
      </div>
    </div>


    <div class="description__section description__section--column uk-flex">
      <img src="img/temp/desc-3.jpg" width="1090" height="600" alt="">
      <div class="uk-flex uk-flex-column">
        <span>ЕСТЕСТВЕННЫЕ И АТМОСФЕРНЫЕ СЕЛФИ</span>
        <p>Фронтальная камера 32 Мп мгновенно улавливает вашу красоту и точно передает ее на селфи - снимке. Камера
          акцентирует внимание на вашей улыбке и глазах, сохраняя и подчеркивая ваше естественное обаяние.</p>
      </div>
    </div>
  </div>
</div>