<footer class="footer uk-container uk-flex uk-flex-column">
  <div class="footer__top uk-flex uk-flex-between uk-flex-start">
    <div class="footer__about">
      <a href="#">
        <img src="img/pic/logo/logo.svg" alt="Логотип SPB Xiaomi">
      </a>
      <p>SPB-Xiaomi.ru – интернет-магазин, где вы найдете смартфоны компании Xiaomi. У нас всегда в наличии все цвета
        и модели айфонов, а цены – самые низкие на рынке. Предоставляем быструю и бесплатную доставку по
        Санкт-Петербургу, а также год гарантии на каждый смартфон. Работаем для вас без выходных и праздников. У нас
        всегда в наличии все цвета и модели айфонов, а цены – самые низкие на рынке. Петербургу, а также год гарантии
        на каждый смартфон.</p>
      <div class="footer__social">
        <span>Мы в соц. сетях</span>
        <ul class="uk-flex uk-flex-middle">
          <li>
            <a href="#">
              <svg width="31" height="18">
                <use xlink:href="img/symbol/sprite.svg#vk-logo" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="20" height="20">
                <use xlink:href="img/symbol/sprite.svg#insta-logo" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="20" height="20">
                <use xlink:href="img/symbol/sprite.svg#viber" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="20" height="20">
                <use xlink:href="img/symbol/sprite.svg#telegram" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="20" height="20">
                <use xlink:href="img/symbol/sprite.svg#whatsapp" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p>Сведения, указанные на сайте приведены как справочная информация и не являются публичной офертой,
        определяемой положениями статей 437 и 435 Гражданского кодекса Российской Федерации</p>
    </div>
    <div class="footer__links uk-flex uk-flex-between uk-width uk-width-1-4@l">
      <ul class="footer__list uk-flex uk-flex-column">
        <li>
          <span>Меню</span>
        </li>
        <li>
          <a href="#">Гарантия</a>
        </li>
        <li>
          <a href="#">Кредит</a>
        </li>
        <li>
          <a href="#">Оплата и доставка</a>
        </li>
        <li>
          <a href="#">Новости</a>
        </li>
        <li>
          <a href="#">Отзывы</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
      </ul>
      <ul class="footer__list uk-flex uk-flex-column">
        <li>
          <span>Каталог</span>
        </li>
        <li>
          <a href="#">Mi</a>
        </li>
        <li>
          <a href="#">Redmi</a>
        </li>
        <li>
          <a href="#">Redmi Note</a>
        </li>
        <li>
          <a href="#">Pocophone</a>
        </li>
        <li>
          <a href="#">Аксессуары</a>
        </li>
        <li>
          <a href="#">Скидки</a>
        </li>
      </ul>
    </div>
    <div class="footer__address uk-flex uk-flex-column">
      <ul class="footer__list footer__list--address uk-flex uk-flex-column">
        <li>
          <span>Адрес</span>
        </li>
        <li>м. Савеловская, Сущевский Вал 5 с 6,</li>
        <li>м. Ломоновский проспект, ул. Мосфильмовская 31,</li>
        <li>м. Озерная, ул. Озерная 38,</li>
        <li>м. Кузьминки, ул. Зеленодельская 121/35,</li>
        <li>м. Сокольники, Русаковская 26Бс1.</li>
      </ul>
      <button class="btn btn--orange-gradient footer__btn" type="button" data-href="#popupMaps" data-uk-toggle>
        <span>Посмотреть пункты самовывоза</span>
      </button>
      <div class="footer__contact">
        <a href="tel:88125076559">
          <span>(812)507-65-59</span>
        </a>
        <div>Бесплатно по всей територрии РФ<br> С 10:00 до 21:00, без выходных</div>
        <button type="button" data-href="#popupCallBack" data-uk-toggle>Вам перезвонить?</button>
      </div>
    </div>
  </div>
  <ul class="footer__bottom uk-flex uk-flex-between">
    <li class="uk-width-1-2 uk-width-auto@l">© 2013-2019 SPB-Xiaomi.ru</li>
    <li class="uk-width-1-1 uk-width-expand@l uk-flex-first uk-flex-last@l">
      <ul class="uk-flex uk-flex-around">
        <li>
          <a href="#">Пользовательское соглашение</a>
        </li>
        <li>
          <a href="#">Политика конфиденциальности</a>
        </li>
        <li>
          <a href="#">Публичная оферта</a>
        </li>
        <li>
          <a href="#">Карта сайта</a>
        </li>
      </ul>
    </li>
    <li class="uk-width-1-2 uk-width-auto@l uk-flex-last@l">antonov.design</li>
  </ul>
</footer>

<!-- <div class="backdrop" data-uk-toggle="target: body; cls: bg-shadowed"></div> -->

<!-- modal popups -->
<!-- CallBack -->
<div id="popupCallBack" class="popup uk-flex-top" data-uk-modal>
  <div class="popup__dialog popup__dialog--small uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <svg class="popup__close uk-modal-close-default" width="25" height="25">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>

    <h2 class="title">Вам перезвонить?</h2>
    <p>Оставьте свой номер, мы свяжемся с вами в&nbsp;течении дня.</p>
    <div class="uk-flex uk-flex-column">
      <label>Телефон</label>
      <input type="text" placeholder="+7">
    </div>
    <button class="btn btn--orange-gradient" type="button">
      <span>Перезвоните мне</span>
    </button>
  </div>
</div>
<!-- OneClick -->
<div id="popupOneClick" class="popup popup--one-click uk-flex-top" data-uk-modal>
  <div class="popup__dialog popup__dialog--small uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <svg class="popup__close uk-modal-close-default" width="25" height="25">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>

    <h2 class="title">Купить в 1 клик</h2>
    <p>Оставьте свой номер, мы свяжемся с вами в&nbsp;течении дня.</p>

    <div class="popup__section product-card product-card--popup uk-flex uk-flex-middle">
      <div class="product-card__image">
        <img src="img/temp/checkout-1-1.jpg" alt="">
      </div>
      <div class="uk-flex uk-flex-column uk-width-2-3">
        <span class="product-card__name">Xiaomi Mi 9T 4/256GB Carbon Black</span>
        <div class="product-card__price uk-flex uk-flex-wrap uk-flex-middle">
          <span class="product-card__price-old uk-margin-small-right">2&nbsp;699&nbsp;&#8381;</span>
          <span class="product-card__price-total uk-margin-small-right">1&nbsp;990&nbsp;&#8381;</span>
          <span class="product-card__price-sale">-15&#37;</span>
        </div>
      </div>
    </div>

    <div class="uk-flex uk-flex-column">
      <label>Телефон</label>
      <input type="text" placeholder="+7">
    </div>
    <button class="btn btn--orange-gradient" type="button">
      <span>Перезвоните мне</span>
    </button>
    <button class="btn btn--gray" type="button">Остались вопросы?</button>
    <div class="popup__contact uk-align-center">
      <span class="popup__contact-title">или позвоните нам по номеру:</span>
      <a href="tel:88125092480">
        <span>+7&nbsp;(812)&nbsp;509-24-80</span>
      </a>
      <span class="popup__contact-text">С 10:00 до 21:00, без выходных, бесплатно по РФ</span>
    </div>
  </div>
</div>
<!-- Credit -->
<div id="popupCredit" class="popup popup--credit uk-flex-top" data-uk-modal>
  <div class="popup__dialog popup__dialog--medium uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <svg class="popup__close uk-modal-close-default" width="25" height="25">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>

    <h2 class="title">Купить в кредит</h2>

    <div class="popup__section product-card product-card--popup uk-flex uk-flex-middle">
      <div class="product-card__image">
        <img src="img/temp/checkout-1-1.jpg" alt="">
      </div>
      <div class="uk-flex uk-flex-column uk-width-2-3">
        <span class="product-card__name">Xiaomi Mi 9T 4/256GB Carbon Black</span>
        <div class="product-card__price uk-flex uk-flex-wrap uk-flex-middle">
          <span class="product-card__price-old uk-margin-small-right">2&nbsp;699&nbsp;&#8381;</span>
          <span class="product-card__price-total uk-margin-small-right">1&nbsp;990&nbsp;&#8381;</span>
          <span class="product-card__price-sale">-15&#37;</span>
        </div>
      </div>
    </div>

    <div class="uk-flex uk-flex-column">
      <label>Выберите банк</label>
      <select class="popup__select">
        <option data-display="Любой">Любой</option>
        <option value="1">Some option</option>
        <option value="2">Another option</option>
        <option value="3" disabled>A disabled option</option>
        <option value="4">Potato</option>
      </select>
    </div>

    <div class="popup__section uk-flex uk-flex-column">
      <label>Срок кредита (месяцев):</label>

    </div>

    <div class="popup__section uk-flex uk-flex-column@s uk-child-width-1-2@l">
      <div class="uk-margin-right@l">
        <label>Есть задолженность по кредитам?</label>
        <ul class="popup__radio">
          <li>
            <input class="uk-hidden" type="radio" id="creditPlus" name="credit-store" checked>
            <label for="creditPlus">Есть</label>
          </li>
          <li>
            <input class="uk-hidden" type="radio" id="creditMinus" name="credit-store">
            <label for="creditMinus">Нет</label>
          </li>
        </ul>
      </div>
      <div>
        <label>Ваш возраст</label>
        <input type="text">
      </div>
    </div>

    <span class="popup__subtitle">Напишите свой номер и мы позвоним<br>Вам в течение 5 минут</span>
    <div class="uk-flex uk-flex-column">
      <label>Телефон</label>
      <input type="text" placeholder="+7">
    </div>
    <button class="btn btn--orange-gradient" type="button">
      <span>Перезвоните мне</span>
    </button>
    <button class="btn btn--gray" type="button">Остались вопросы?</button>
    <div class="popup__contact uk-align-center">
      <span class="popup__contact-title">или позвоните нам по номеру:</span>
      <a href="tel:88125092480">
        <span>+7&nbsp;(812)&nbsp;509-24-80</span>
      </a>
      <span class="popup__contact-text">С 10:00 до 21:00, без выходных, бесплатно по РФ</span>
    </div>
  </div>
</div>
<!-- CartAdd -->
<div id="popupCartAdd" class="popup popup--cart-add uk-flex-top" data-uk-modal>
  <div class="popup__dialog popup__dialog--small uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <svg class="popup__close uk-modal-close-default" width="25" height="25">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>

    <h2 class="title">Товар добавлен<br>в корзину</h2>

    <div class="product-card product-card--popup uk-flex uk-flex-middle">
      <div class="product-card__image">
        <img src="img/temp/checkout-1-1.jpg" alt="">
      </div>
      <div class="uk-flex uk-flex-column uk-width-2-3">
        <span class="product-card__name">Xiaomi Mi 9T 4/256GB Carbon Black</span>
        <div class="product-card__price uk-flex uk-flex-wrap uk-flex-middle">
          <span class="product-card__price-old uk-margin-small-right">2&nbsp;699&nbsp;&#8381;</span>
          <span class="product-card__price-total uk-margin-small-right">1&nbsp;990&nbsp;&#8381;</span>
          <span class="product-card__price-sale">-15&#37;</span>
        </div>
      </div>
    </div>

    <button class="btn btn--orange-gradient" type="button">
      <span>Перейти к оформлению заказа</span>
    </button>
    <button class="btn btn--gray" type="button">Продолжить покупки</button>
  </div>
</div>
<!-- Question -->
<div id="popupQuestion" class="popup popup--question uk-flex-top" data-uk-modal>
  <div class="popup__dialog popup__dialog--small uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <svg class="popup__close uk-modal-close-default" width="25" height="25">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>

    <h2 class="title">Остались вопросы?</h2>
    <p>Оставьте свой номер, мы свяжемся с вами в&nbsp;течении дня.</p>
    <div class="uk-flex uk-flex-column">
      <label>Опишите свой вопрос</label>
      <textarea cols="30" rows="10"></textarea>
    </div>
    <div class="uk-flex uk-flex-column">
      <label>Телефон</label>
      <input type="text" placeholder="+7">
    </div>
    <button class="btn btn--orange-gradient" type="button">
      <span>Перезвоните мне</span>
    </button>
  </div>
</div>
<!-- Reviews -->
<div id="popupAddsReview" class="popup popup--review uk-flex-top" data-uk-modal>
  <div class="popup__dialog popup__dialog--large uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <svg class="popup__close uk-modal-close-default" width="25" height="25">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>

    <h2 class="title">Добавить отзыв</h2>
    <p>Вам понравилось покупать у нас или есть замечания? Поделитесь своими впечатлениями в форме ниже:</p>

    <div class="uk-flex uk-flex-column@s uk-child-width-1-2@l">
      <div class="uk-margin-right@l">
        <div class="uk-flex uk-flex-column">
          <label>Плюсы</label>
          <textarea cols="30" rows="10"></textarea>
        </div>
        <div class="uk-flex uk-flex-column">
          <label>Минусы</label>
          <textarea cols="30" rows="10"></textarea>
        </div>
        <div class="uk-flex uk-flex-column">
          <label>Комментарий</label>
          <textarea cols="30" rows="10"></textarea>
        </div>

        <div>
          <span class="rating__title">Оценка</span>
          <div class="rating">
            <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Rocks!">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Pretty good">4
              stars</label>
            <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Meh">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Kinda bad">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="Sucks big time">1
              star</label>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-flex uk-flex-column">
          <label>Имя</label>
          <input type="text">
        </div>
        <div class="uk-flex uk-flex-column">
          <label>Телефон</label>
          <input type="text" placeholder="+7">
        </div>
        <div class="uk-flex uk-flex-column">
          <label>Email</label>
          <input type="text">
        </div>

        <!-- <div class="rating">
          <div class="rating__title">
            <svg width="15" height="15">
              <use xlink:href="img/symbol/sprite.svg#clip" />
            </svg>
            <span>Прикрепить файл</span>
          </div>
          <fieldset class="rating uk-flex">
            <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Rocks!">5
              stars</label>
            <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Pretty good">4
              stars</label>
            <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Meh">3
              stars</label>
            <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Kinda bad">2
              stars</label>
            <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="Sucks big time">1
              star</label>
          </fieldset>
        </div> -->

        <div>
          <div class="fileuploader fileuploader-theme-thumbnails"><input type="hidden" name="fileuploader-list-file"
              value="[{&quot;file&quot;:&quot;0:/212121.jpg&quot;}]"><input type="file" name="file[]"
              multiple="multiple"
              style="position: absolute; z-index: -9999; height: 0px; width: 0px; padding: 0px; margin: 0px; line-height: 0; outline: 0px; border: 0px; opacity: 0;"><input
              type="file" name="file[]" multiple="multiple"
              style="position: absolute; z-index: -9999; height: 0px; width: 0px; padding: 0px; margin: 0px; line-height: 0; outline: 0px; border: 0px; opacity: 0;">
            <div class="fileuploader-items">
              <ul class="fileuploader-items-list">
                <li class="fileuploader-item file-has-popup file-type-image file-ext-jpg">
                  <div class="fileuploader-item-inner">
                    <div class="actions-holder"><a class="fileuploader-action fileuploader-action-remove"
                        title="Remove"><i></i></a></div>
                    <div class="thumbnail-holder">212121.jpg</div>
                    <div class="progress-holder"></div>
                  </div>
                </li>
                <li class="fileuploader-thumbnails-input">
                  <div class=""><svg width="15" height="15" color="#FF7914">
                      <use xlink:href="img/symbol/sprite.svg#clip"></use>
                    </svg><span onclick="clickTrigger('.fileuploader-thumbnails-input')">Прикрепить файл</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <button class="btn btn--orange-gradient" type="button">
      <span>Перезвоните мне</span>
    </button>
  </div>
</div>
<!-- Thanks -->
<div id="popupThanks" class="popup uk-flex-top" data-uk-modal>
  <div class="popup__dialog popup__dialog--small uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <svg class="popup__close uk-modal-close-default" width="25" height="25">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>

    <h2 class="title">Спасибо!</h2>
    <p>Заявка отправлена, мы свяжемся с Вами в течении дня. Так же Вы можете связаться с нами по телефону: 8 (812)
      507-65-59</p>
    <button class="btn btn--orange-gradient" type="button">
      <span>OK</span>
    </button>
  </div>
</div>
<!-- Map -->
<div id="popupMaps" class="popup popup--maps uk-flex-top" data-uk-modal>
  <div class="popup__dialog popup__dialog--large-plus uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <svg class="popup__close uk-modal-close-default" width="25" height="25">
      <use xlink:href="img/symbol/sprite.svg#close" />
    </svg>

    <h2 class="title">Пункты самовывоза!</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.9365552051452!2d30.357610666329574!3d59.9331949318742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbe1a3899db8dc698!2z0J3QvtGC0LDRgNC40LDQu9GM0L3QsNGPINC60L7QvdGC0L7RgNCwICLQktC-0YHRgdGC0LDQvdC40Y8gNiI!5e0!3m2!1sru!2sru!4v1563539776241!5m2!1sru!2sru"
      width="100" height="500" style="border:0" allowfullscreen></iframe>
  </div>
</div>

<script src="js/scripts.min.js"></script>

<button type="button" class="hamburger"
  style="position: fixed; bottom: 20px; left: 20px; margin-right: 20px; padding: 0; z-index: 99999;"
  data-uk-toggle="target: #uinav">
  <span
    style="display: flex; width: 32px; height: 4px; background: #333333; border-radius: 1.5px; margin-bottom: 6px;"></span>
  <span
    style="display: flex; width: 32px; height: 4px; background: #333333; border-radius: 1.5px; margin-bottom: 6px;"></span>
  <span
    style="display: flex; width: 32px; height: 4px; background: #333333; border-radius: 1.5px; margin-bottom: 6px;"></span>
</button>
<div id="uinav" data-uk-offcanvas="overlay: true; mode: none;">
  <div class="uk-offcanvas-bar">
    <button class="uk-button" type="button"
      data-uk-toggle="target: #toggle-animation-multiple; animation:  uk-animation-slide-left, uk-animation-slide-bottom"
      data-uk-icon="grid"></button>
    <ul id="toggle-animation-multiple" class="uk-card uk-card-default uk-card-body uk-margin-small">
      <li style="margin-bottom: 10px;">
        <a href="index.html" style="color: #fff;">Главная</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="catalog.html" style="color: #fff;">Каталог</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="product.html" style="color: #fff;">Продукт</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="checkout.html" style="color: #fff;">Корзина</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="contacts.html" style="color: #fff;">Контакты</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="articles.html" style="color: #fff;">Новости</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="article.html" style="color: #fff;">Статья</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="reviews.html" style="color: #fff;">Отзывы</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="payment.html" style="color: #fff;">Оплата и доставка</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="warranty.html" style="color: #fff;">Гарантия</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="credit.html" style="color: #fff;">Кредит</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="error404.html" style="color: #fff;">404</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="site-map.html" style="color: #fff;">Карта сайта</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="ui.html" style="color: #fff;">UI</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="account-main.html" style="color: #fff;">Личный кабинет</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="account-cashback.html" style="color: #fff;">Личный кабинет - Кэшбэк</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="account-orders.html" style="color: #fff;">Личный кабинет - Заказы</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="account-reviews.html" style="color: #fff;">Личный кабинет - Отзывы</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="account-cart.html" style="color: #fff;">Личный кабинет - Мои товары</a>
      </li>
    </ul>
  </div>
</div>