<footer class="footer uk-container uk-flex uk-flex-column">
  <div class="footer__top uk-flex uk-flex-between uk-flex-start">
    <div class="footer__about">
      <a href="#">
        <img src="img/pic/logo/logo.svg" alt="Логотип SPB Xiaomi">
      </a>
      <p>SPB-Xiaomi.ru – интернет-магазин, где вы найдете смартфоны компании Xiaomi. У нас всегда в наличии все цвета
        и модели айфонов, а цены – самые низкие на рынке. Предоставляем быструю и бесплатную доставку по
        Санкт-Петербургу, а также год гарантии на каждый смартфон. Работаем для вас без выходных и праздников. У нас
        всегда в наличии все цвета и модели айфонов, а цены – самые низкие на рынке. Петербургу, а также год гарантии
        на каждый смартфон.</p>
      <div class="footer__social">
        <span>Мы в соц. сетях</span>
        <ul class="uk-flex uk-flex-middle">
          <li>
            <a href="#">
              <svg width="31" height="18">
                <use xlink:href="img/symbol/sprite.svg#vk-logo" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="20" height="20">
                <use xlink:href="img/symbol/sprite.svg#insta-logo" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p>Сведения, указанные на сайте приведены как справочная информация и не являются публичной офертой,
        определяемой положениями статей 437 и 435 Гражданского кодекса Российской Федерации</p>
    </div>
    <div class="footer__links uk-flex uk-flex-between uk-width uk-width-1-5@l">
      <ul class="footer__list uk-flex uk-flex-column">
        <li>
          <span>Меню</span>
        </li>
        <li>
          <a href="#">Гарантия</a>
        </li>
        <li>
          <a href="#">Кредит</a>
        </li>
        <li>
          <a href="#">Оплата и доставка</a>
        </li>
        <li>
          <a href="#">Новости</a>
        </li>
        <li>
          <a href="#">Отзывы</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
      </ul>
      <ul class="footer__list uk-flex uk-flex-column">
        <li>
          <span>Каталог</span>
        </li>
        <li>
          <a href="#">Mi</a>
        </li>
        <li>
          <a href="#">Redmi</a>
        </li>
        <li>
          <a href="#">Redmi Note</a>
        </li>
        <li>
          <a href="#">Pocophone</a>
        </li>
        <li>
          <a href="#">Аксессуары</a>
        </li>
        <li>
          <a href="#">Скидки</a>
        </li>
      </ul>
    </div>
    <div class="footer__address uk-flex uk-flex-column">
      <ul class="footer__list footer__list--address uk-flex uk-flex-column">
        <li>
          <span>Адрес</span>
        </li>
        <li>м. Савеловская, Сущевский Вал 5 с 6,</li>
        <li>м. Ломоновский проспект, ул. Мосфильмовская 31,</li>
        <li>м. Озерная, ул. Озерная 38,</li>
        <li>м. Кузьминки, ул. Зеленодельская 121/35,</li>
        <li>м. Сокольники, Русаковская 26Бс1.</li>
      </ul>
      <button class="btn btn--orange-gradient footer__btn" type="button">Посмотреть пункты самовывоза</button>
      <div class="footer__contact">
        <a href="tel:88125076559">
          <span>(812)507-65-59</span>
        </a>
        <div>Бесплатно по всей територрии РФ<br> С 10:00 до 21:00, без выходных</div>
        <button type="button">Вам перезвонить?</button>
      </div>
    </div>
  </div>
  <ul class="footer__bottom uk-flex uk-flex-between">
    <li class="uk-width-1-2 uk-width-auto@l">© 2013-2019 SPB-Xiaomi.ru</li>
    <li class="uk-width-1-1 uk-width-expand@l uk-flex-first uk-flex-last@l">
      <ul class="uk-flex uk-flex-around">
        <li>
          <a href="#">Пользовательское соглашение</a>
        </li>
        <li>
          <a href="#">Политика конфиденциальности</a>
        </li>
        <li>
          <a href="#">Публичная оферта</a>
        </li>
        <li>
          <a href="#">Карта сайта</a>
        </li>
      </ul>
    </li>
    <li class="uk-width-1-2 uk-width-auto@l uk-flex-last@l">antonov.design</li>
  </ul>
</footer>

<button type="button" class="hamburger" uk-toggle="target: #uinav">
  <span></span>
  <span></span>
  <span></span>

  <style>
    .hamburger {
      position: fixed;
      bottom: 20px;
      left: 20px;
      margin-right: 20px;
      padding: 0;
    }

    .hamburger span {
      display: flex;
      width: 32px;
      height: 4px;
      background: #333333;
      border-radius: 1.5px;
      margin-bottom: 6px;
    }
  </style>

</button>
<div id="uinav" uk-offcanvas="overlay: true; mode: none;">
  <div class="uk-offcanvas-bar">
    <button class="uk-button" type="button"
      uk-toggle="target: #toggle-animation-multiple; animation:  uk-animation-slide-left, uk-animation-slide-bottom"
      uk-icon="grid"></button>
    <ul id="toggle-animation-multiple" class="uk-card uk-card-default uk-card-body uk-margin-small">
      <li style="margin-bottom: 10px;">
        <a href="index.html" style="color: #fff;">Главная</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="checkout.html" style="color: #fff;">Корзина</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="contacts.html" style="color: #fff;">Контакты</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="articles.html" style="color: #fff;">Новости</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="article.html" style="color: #fff;">Статья</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="reviews.html" style="color: #fff;">Отзывы</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="payment.html" style="color: #fff;">Оплата и доставка</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="warranty.html" style="color: #fff;">Гарантия</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="credit.html" style="color: #fff;">Кредит</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="error404.html" style="color: #fff;">404</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="site-map.html" style="color: #fff;">Карта сайта</a>
      </li>
      <li style="margin-bottom: 10px;">
        <a href="ui.html" style="color: #fff;">UI</a>
      </li>
    </ul>
  </div>
</div>