<header class="header" uk-sticky="media: (max-width:1199px)">
  <div class="header__top uk-visible@l">
    <div class="uk-container uk-flex uk-flex-middle uk-flex-between uk-padding uk-padding-remove-vertical">

      <!-- <div class="header__feedback">
        <span data-href="#popupQuestion" data-uk-toggle>Задать вопрос</span>
        <span class="feedback__online">Мы онлайн</span>
      </div> -->

      <div class="uk-flex uk-width-1-5">
        <span class="header__top-text-gray uk-margin-small-right@l">Ваш город:</span>
        <span class="header__top-text-orange">Санкт-Петербург</span>
      </div>

      <ul class="header__links-list uk-flex uk-flex-between uk-visible@l uk-width-expand">
        <li>
          <a href="warranty.html">Гарантия</a>
        </li>
        <li>
          <a href="credit.html">Кредит</a>
        </li>
        <li>
          <a href="payment.html">Оплата и доставка</a>
        </li>
        <li>
          <a href="#">Трейд-ин</a>
        </li>
        <li>
          <a href="articles.html">Новости</a>
        </li>
        <li>
          <a href="reviews.html">Отзывы</a>
        </li>
        <li>
          <a href="contacts.html">Контакты</a>
        </li>
      </ul>

      <!--  <div class="uk-flex uk-width-1-4@l uk-flex-right">
        <a class="header__top-text-gray uk-margin-right@l" href="#">Регистрация</a>
        <a class="header__top-text-orange" href="#">Войти в личный кабинет</a>
      </div> -->

      <div class="header__contact uk-flex uk-flex-middle">
        <a class="uk-flex uk-flex-middle" href="tel:88125076559">
          <svg width="16" height="16">
            <use xlink:href="img/symbol/sprite.svg#phone" />
          </svg>
          <span>(812)507-65-59</span>
        </a>
        <div class="uk-margin-left">Бесплатно <br>Сб-Пт 10:00 - 19-00</div>
      </div>
    </div>
  </div>

  <div class="uk-container uk-flex uk-flex-between uk-flex-column bg-full-width-gray">
    <div class="header__container uk uk-flex uk-flex-middle uk-width-1-1@l">
      <button type="button" class="header__hamburger uk-hidden@l" data-uk-toggle="target: #menuMobile">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="header__logo" href="index.html">
        <picture>
          <source srcset="img/pic/logo/xiaxia.svg" media="(min-width:1200px)">
          <source srcset="img/pic/logo/xiaxia.svg" media="(min-width:375px)">
          <img src="img/pic/logo/xiaxia.svg" alt="Логотип Xiaomi">
        </picture>
      </a>

      <nav class="menu uk-offcanvas uk-width-expand uk-hidden@l" id="menuMobile"
        data-uk-offcanvas="overlay: true; mode: slide;">
        <div class="uk-offcanvas-bar">
          <div class="menu__wrap">
            <ul class="menu__list uk-flex uk-flex-between">
              <li class="menu-label uk-hidden@l">
                <span>Каталог</span>
              </li>
              <li class="has-child">
                <a href="#">
                  <span>Mi</span>
                </a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>test 1</span>
                    </a>
                    <ul class="menu__innerlist">
                      <li>
                        <a href="#" title="Перейти на страницу">
                          <span>test 3</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Перейти на страницу">
                          <span>test 5</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>test 2</span>
                    </a>
                    <ul class="menu__innerlist">
                      <li>
                        <a href="#" title="Перейти на страницу">
                          <span>test 4</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Перейти на страницу">
                          <span>test 6</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="has-child">
                <a href="#">
                  <span>Redmi</span>
                </a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS Max</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS</span>
                    </a>
                    <ul class="menu__innerlist">
                      <li>
                        <a href="#" title="Перейти на страницу">
                          <span>test 4</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Перейти на страницу">
                          <span>test 6</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="has-child">
                <a href="#">
                  <span>Redmi Note</span>
                </a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS Max</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="has-child">
                <a href="#">Pocophone</a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS Max</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="has-child">
                <a href="#">Аксессуары</a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS Max</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="has-child">
                <a href="#">Электроника</a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS Max</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu__discount">
                <a href="#">
                  <span>Скидки</span>
                </a>
              </li>
            </ul>
            <div class="menu__list-info uk-hidden@l">
              <div>
                <ul class="menu__footer uk-flex uk-flex-wrap">
                  <li>
                    <a href="#">
                      <span>Гарантия</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Кредит</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Оплата и доставка</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Трейд-ин</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Новости</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Отзывы</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Контакты</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div class="header__catalog uk-visible@l">
        <button type="button" class="header__catalog-btn uk-flex uk-flex-middle"
          uk-toggle="target: body; cls: menu--opened">
          <svg width="18" height="14" fill="#ffffff">
            <use xlink:href="img/symbol/sprite.svg#hamburger" />
          </svg>
          <span>Каталог</span>
        </button>

        <div class="backdrop" uk-toggle="target: body; cls: menu--opened"></div>

        <ul class="header__catalog-menu">
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-1" />
              </svg>
              <span>Смартфоны</span>
            </a>

            <ul class="header__catalog-sublist">
              <li>
                <a href="#">
                  <span>Mi 5</span>
                </a>
                <ul class="header__catalog-innerlist">
                  <li>
                    <a href="#">Mi 6 Max</a>
                  </li>
                  <li>
                    <a href="#">Mi 6 S</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">
                  <span>Mi 6</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Mi 7S</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Mi 8 Pro</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Mi Note 9</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-2" />
              </svg>
              <span>«Умный дом»</span>
            </a>
          </li>
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-3" />
              </svg>
              <span>Компьютерная техника</span>
            </a>
          </li>
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-4" />
              </svg>
              <span>Гаджеты</span>
            </a>
          </li>
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-5" />
              </svg>
              <span>Наушники и колонки</span>
            </a>
          </li>
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-6" />
              </svg>
              <span>Зарядные устройства</span>
            </a>
          </li>
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-7" />
              </svg>
              <span>Аксессуары</span>
            </a>
          </li>
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-8" />
              </svg>
              <span>Одежда, обувь</span>
            </a>
          </li>
          <!-- <li class="header__catalog-list">
              <a href="">
                <svg width="20" height="20" fill="#FF7914">
                  <use xlink:href="img/symbol/sprite.svg#menu-9" />
                </svg>
                <span>Транспорт</span>
              </a>
            </li> -->
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-10" />
              </svg>
              <span>Робот-пылесос</span>
            </a>
          </li>
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-11" />
              </svg>
              <span>Фото и видео</span>
            </a>
          </li>
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-12" />
              </svg>
              <span>Телевизоры</span>
            </a>
          </li>
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF7914">
                <use xlink:href="img/symbol/sprite.svg#menu-13" />
              </svg>
              <span>Детские товары</span>
            </a>
          </li>
          <li class="header__catalog-list">
            <a href="">
              <svg width="20" height="20" fill="#FF4300">
                <use xlink:href="img/symbol/sprite.svg#menu-14" />
              </svg>
              <span>Скидки</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="header__contact uk-flex uk-flex-middle uk-hidden@l">
        <a class="uk-flex uk-flex-middle" href="tel:88125076559">
          <svg width="16" height="16">
            <use xlink:href="img/symbol/sprite.svg#phone" />
          </svg>
        </a>
      </div>

      <div class="search">

        <div class="searchbox uk-hidden@l">
          <input id="searchInputMobile" type="search" class="search-mobile" placeholder="Search...">
        </div>

        <button class="search__open" type="button">
          <svg width="24" height="24">
            <use xlink:href="img/symbol/sprite.svg#search" />
          </svg>
        </button>
        <input id="searchInput" class="uk-width-1-1 uk-visible@l" type="text" placeholder="Поиск" />
        <ul class="search__result">
          <li>
            <a href="#">iphone xr 256</a>
          </li>
          <li>
            <a href="#">iphone xr 64</a>
          </li>
          <li>
            <a href="#">iphone xr Dual SIM</a>
          </li>
          <li>
            <a href="#">iphone xr 128</a>
          </li>
          <li>
            <a href="#">iphone xr чехол</a>
          </li>
        </ul>
        <button class="search__close" type="button">
          <svg width="24" height="24">
            <use xlink:href="img/symbol/sprite.svg#close" />
          </svg>
        </button>
        <button class="btn btn--orange search__btn" type="button">Найти</button>
        <div class="backdrop" uk-toggle="target: body; cls: search--opened"></div>
      </div>

      <a href="#" class="header__cart header__cart--active">
        <svg width="22" height="22">
          <use xlink:href="img/symbol/sprite.svg#cart" />
        </svg>
        <span>Корзина</span>
        <!-- <span>0 шт</span> -->
      </a>

      <button class="header__login uk-visible@l" type="button">Вход или регистрация</button>

      <!-- <div class="backdrop" data-uk-toggle="target: header; cls: search-active"></div> -->
    </div>
    <!--  <div class="header__bottom uk-flex uk-flex-middle bg-full-width-gray" uk-sticky="media: @l">
    </div> -->
  </div>
</header>