<header class="header">
  <div class="header__top uk-visible@l">
    <div class="uk-container uk-flex uk-flex-between uk-padding uk-padding-remove-vertical">
      <div class="uk-width-expand">
        <ul class="uk-flex uk-flex-between">
          <li>
            <a href="warranty.html">Гарантия</a>
          </li>
          <li>
            <a href="credit.html">Кредит</a>
          </li>
          <li>
            <a href="payment.html">Оплата и доставка</a>
          </li>
          <li>
            <a href="#">Трейд-ин</a>
          </li>
          <li>
            <a href="articles.html">Новости</a>
          </li>
          <li>
            <a href="reviews.html">Отзывы</a>
          </li>
          <li>
            <a href="contacts.html">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="header__feedback">
        <span data-href="#popupQuestion" data-uk-toggle>Задать вопрос</span>
        <span class="feedback__online">Мы онлайн</span>
      </div>
    </div>
  </div>
  <div class="uk-container uk-flex uk-flex-between uk-flex-column">
    <div class="header__container uk uk-flex uk-flex-middle uk-width-1-1@l">
      <button type="button" class="header__hamburger uk-hidden@l" data-uk-toggle="target: #menuMobile">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="header__logo" href="index.html">
        <picture>
          <source srcset="img/pic/logo/logo.svg" media="(min-width:1200px)">
          <source srcset="img/pic/logo/logo-mobile.svg" media="(min-width:375px)">
          <img src="img/pic/logo/logo-x.svg" alt="Логотип SPB Xiaomi">
        </picture>
      </a>
      <div class="search">
        <button class="search__open" type="button">
          <svg width="24" height="24">
            <use xlink:href="img/symbol/sprite.svg#search" />
          </svg>
        </button>
        <input id="searchInput" class="uk-width-1-1 uk-visible@l" type="text" placeholder="Поиск" />
        <ul class="search__result">
          <li>
            <a href="#">iphone xr 256</a>
          </li>
          <li>
            <a href="#">iphone xr 64</a>
          </li>
          <li>
            <a href="#">iphone xr Dual SIM</a>
          </li>
          <li>
            <a href="#">iphone xr 128</a>
          </li>
          <li>
            <a href="#">iphone xr чехол</a>
          </li>
        </ul>
        <button class="search__close" type="button">
          <svg width="24" height="24">
            <use xlink:href="img/symbol/sprite.svg#close" />
          </svg>
        </button>
        <button class="btn btn--orange search__btn" type="button">Найти</button>
      </div>
      <div class="backdrop" data-uk-toggle="target: header; cls: search-active"></div>
      <div class="header__contact">
        <a href="tel:88125076559">
          <svg width="16" height="16">
            <use xlink:href="img/symbol/sprite.svg#phone" />
          </svg>
          <span>(812)507-65-59</span>
        </a>
        <div>С 10:00 до 21:00 без выходных<br> Бесплатно РФ</div>
      </div>
    </div>
    <div class="uk-flex uk-flex-middle">
      <nav class="menu uk-offcanvas uk-width-expand" id="menuMobile" data-uk-offcanvas="overlay: true; mode: reveal;">
        <div class="uk-offcanvas-bar">
          <div class="menu__wrap">
            <ul class="menu__list uk-flex uk-flex-between">
              <li class="menu-label uk-hidden@l">
                <span>Каталог</span>
              </li>
              <li class="has-child">
                <a href="#">
                  <span>Mi</span>
                </a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>test 1</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>test 2</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="has-child">
                <a href="#">
                  <span>Redmi</span>
                </a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS Max</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="has-child">
                <a href="#">
                  <span>Redmi Note</span>
                </a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS Max</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="has-child">
                <a href="#">Pocophone</a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS Max</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="has-child">
                <a href="#">Аксессуары</a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS Max</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="has-child">
                <a href="#">Электроника</a>
                <ul class="menu__sublist">
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS Max</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="Перейти на страницу">
                      <span>iPhone XS</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu__discount">
                <a href="#">
                  <span>Скидки</span>
                </a>
              </li>
            </ul>
            <div class="menu__list-info uk-hidden@l">
              <div>
                <ul class="menu__footer uk-flex uk-flex-wrap">
                  <li>
                    <a href="#">
                      <span>Гарантия</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Кредит</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Оплата и доставка</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Трейд-ин</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Новости</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Отзывы</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Контакты</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <a href="#" class="header__cart header__cart--empty">
        <svg width="22" height="22">
          <use xlink:href="img/symbol/sprite.svg#cart" />
        </svg>
        <span>Корзина</span>
        <span>0 шт</span>
      </a>
    </div>
  </div>
</header>