<div class="pagination uk-flex uk-flex-column uk-flex-middle">
  <button class="pagination__btn-big" type="button">Показать еще</button>
  <div class="uk-flex uk-flex-between">
    <a class="pagination__btn pagination__btn--prev" href="#">
      <svg width="10" height="10">
        <use xlink:href="img/symbol/sprite.svg#arrow" />
      </svg>
    </a>
    <a class="pagination__btn pagination__btn--active" href="#">1</a>
    <a class="pagination__btn" href="#">2</a>
    <a class="pagination__btn" href="#">3</a>
    <a class="pagination__btn" href="#">4</a>
    <a class="pagination__btn pagination__btn--next" href="#">
      <svg width="10" height="10">
        <use xlink:href="img/symbol/sprite.svg#arrow" />
      </svg>
    </a>
  </div>
</div>