<div class="pagination uk-flex uk-flex-column uk-flex-middle">
  <button class="pagination__btn-big" type="button">
    <span>Показать еще</span>
  </button>
  <div class="uk-flex uk-flex-center">
    <a class="pagination__btn pagination__btn--prev" href="#">
      <span>
        <svg width="10" height="10">
          <use xlink:href="img/symbol/sprite.svg#arrow" />
        </svg>
      </span>
    </a>
    <a class="pagination__btn pagination__btn--active" href="#">
      <span>1</span>
    </a>
    <a class="pagination__btn" href="#">
      <span>2</span>
    </a>
    <a class="pagination__btn" href="#">
      <span>3</span>
    </a>
    <a class="pagination__btn" href="#">
      <span>4</span>
    </a>
    <a class="pagination__btn pagination__btn--next" href="#">
      <span>
        <svg width="10" height="10">
          <use xlink:href="img/symbol/sprite.svg#arrow" />
        </svg>
      </span>
    </a>
  </div>
</div>