<div class="uk-container subscribe__wrap">
  <div class="subscribe">
    <h3 class="subscribe__title">Подписаться на рассылку</h3>
    <p class="subscribe__text">Получайте оповещения об акциях и специальных предложениях</p>
    <div class="subscribe__container uk-flex uk-flex-bottom">
      <div class="uk-flex uk-flex-column">
        <label>Телефон</label>
        <input type="text">
      </div>

      <a href="#" class="subscribe__btn-wrap subscribe__btn-wrap--mail">
        <svg width="39" height="15">
          <use xlink:href="img/symbol/sprite.svg#mail" />
        </svg>
      </a>
      <a href="#" class="subscribe__btn-wrap subscribe__btn-wrap--viber">
        <svg width="28" height="29">
          <use xlink:href="img/symbol/sprite.svg#viber" />
        </svg>
      </a>
      <a href="#" class="subscribe__btn-wrap subscribe__btn-wrap--whatsapp">
        <svg width="28" height="25">
          <use xlink:href="img/symbol/sprite.svg#whatsapp" />
        </svg>
      </a>
      <a href="#" class="subscribe__btn-wrap subscribe__btn-wrap--telegram">
        <svg width="25" height="26">
          <use xlink:href="img/symbol/sprite.svg#telegram" />
        </svg>
      </a>
    </div>
  </div>
</div>