.article-card {
  display: block;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 12px;
  font: 400 14px/24px Helvetica;

  &__footer {
    position: relative;
    margin-top: -20px;
    border-radius: 12px;
    padding: 20px 20px 25px;
    background: #FFFFFF;
  }

  &__title {
    margin-bottom: 15px;
    font: 500 22px/28px FuturaPT;
    transition: color 0.5s;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
    transition: transform 0.5s;
  }

  &:hover {
    .article-card__title {
      color: #FF7914;
    }

    img {
      transform: scale(1.2);
    }
  }
}