.breadcrumbs {

  .uk-subnav>*>:first-child {
    font: normal 12px/15px FuturaPT !important;
  }
/* 
  .uk-subnav {
    a {
      color: #B9BABA;
    }
  }

  .uk-subnav .uk-active {
    a {
      color: #2B2D30;
      opacity: .5;
    }
  } */
}

