.carousel {
  &-articles {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 25px;
    overflow: hidden;

    .title {
      @include screen(xl) {
        margin-bottom: 15px;
      }

      @include screen(l) {
        margin-bottom: 30px;
      }
    }

    .article-card {
      @include screen(xl) {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
      }
    }

    .swiper-wrapper {
      @include screen(l) {
        transform: translate3d(0px, 0, 0) !important;
      }
    }

    .swiper-pagination {
      @include screen(xl) {
        left: 70px !important;
        overflow: visible;
      }

      @include screen(l) {
        display: none;
      }
    }

    .swiper-pagination-bullet-active {
      top: -1px;
      height: 5px;
      width: 40px;
      background: #FF7914;
      border-radius: 2.5px;
    }
  }

  &-article {
    @include screen(xl) {
      overflow: hidden;
    }

    @include screen(l) {
      .swiper-wrapper {
        flex-wrap: wrap;
      }
    }

    .title {
      @include screen(xl) {
        margin-bottom: 15px;
      }

      @include screen(l) {
        margin-bottom: 30px;
      }
    }

    .article-card {
      @include screen(xl) {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
      }
    }

    .swiper-wrapper {
      @include screen(l) {
        transform: translate3d(0px, 0, 0) !important;
      }
    }

    .swiper-pagination {
      @include screen(xl) {
        position: relative;
        left: 70px !important;
        overflow: visible;
      }

      @include screen(l) {
        display: none;
      }
    }

    .swiper-pagination-bullet-active {
      top: -1px;
      height: 5px;
      width: 40px;
      background: #FF7914;
      border-radius: 2.5px;
    }

    li.swiper-slide {
      @include screen(xl) {
        height: auto !important;
        padding-bottom: 20px;
      }

      @include screen(l) {
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  &-reviews {
    position: relative;
    background: white;

    @include screen(xl) {
      margin-bottom: 20px;
    }

    @include screen(l) {
      padding-right: 300px;
      overflow: hidden;
    }

    &::after {
      @include screen(l) {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        background: url('../img/pic/bg/shadow.svg') no-repeat 0 0;
        z-index: 1;
        opacity: 1;
        transition: opacity .5s;
      }
    }

    .swiper-pagination {
      @include screen(xl) {
        width: 100px !important;
        bottom: -45px;
        left: 55px !important;
        z-index: 100;
      }

      @include screen(l) {
        display: none;
      }
    }

    .swiper-pagination-bullet-active {
      top: -1px;
      height: 5px;
      width: 35px;
      background: #FF7914;
      border-radius: 2.5px;
    }
  }

  &-product-card {
    position: relative;
    padding: 20px 100px 60px 0;
    margin: -20px 0 -60px;

    @include screen(xl) {
      margin-bottom: 20px;
    }

    @include screen(l) {
      overflow: hidden;
    }

    .swiper-slide {
      width: auto;

      @include screen(l) {
        margin-right: 10px;
        max-width: 237.5px;
      }
    }

    &::after {
      @include screen(l) {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        background: url('../img/pic/bg/shadow.svg') no-repeat 0 0;
        z-index: 1;
        opacity: 1;
        transition: opacity .5s;
      }
    }

    .swiper-pagination {
      @include screen(xl) {
        width: 100px !important;
        bottom: -45px;
        left: 55px !important;
        z-index: 100;
      }

      @include screen(l) {
        display: none;
      }
    }

    .swiper-pagination-bullet-active {
      top: -1px;
      height: 5px;
      width: 35px;
      background: #FF7914;
      border-radius: 2.5px;
    }
  }
}

/* Buttons */
.carousel__wrap {
  &-reviews {
    .swiper-button-next {
      @include screen(xl) {
        display: none;
      }

      @include screen(l) {
        right: -25px;
        width: 48px;
        height: 48px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
        border-radius: 30px;
        background: url('../img/pic/ico/arrow-next.svg') center no-repeat, #ffffff;
      }
    }
  }

  &-product-card {
    .swiper-button {
      @include screen(xl) {
        display: none;
      }

      @include screen(l) {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 5;
        margin: auto;
        width: 48px;
        height: 48px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
        border-radius: 30px;
        cursor: pointer;
      }

      &-next {
        @include screen(l) {
          right: -25px;
          background: url('../img/pic/ico/arrow-next.svg') center no-repeat, #ffffff;
        }
      }
    }
  }
}

/* z-index при hover на карточку товара */
.carousel-product-card.swiper-container-initialized.swiper-container-horizontal:hover {
  z-index: 5!important;
}