.menu {
  .uk-offcanvas-bar {
    width: 100%;
    transform: translate(-100%);
    left: 0;
    transition: transform .5s;
    overflow-x: hidden;
  }

  &.uk-open>.uk-offcanvas-bar {
    transform: translate(0%) !important;
  }

  & .uk-offcanvas-bar {
    @include screen(xl) {
      padding: 0 0;
      background-color: #fff;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    li {
      /*  position: relative; */

      /* &:not(.active) {
        overflow: hidden;
      } */
    }

    span {
      display: block;
      padding: 10px;
      font-size: 20px;
    }

    &.sublist-opened {
      &>li:not(.active) {
        display: none;
      }

      >li.active .menu__sublist {
        transform: translate(0%);
        background: #ffffff;
        height: 100%;

        * {
          opacity: 1;
          height: auto;
        }
      }
    }
  }

  &__sublist {
    position: absolute;
    top: 0;
    transform: translate(100%);
    transition: transform .3s;
    width: 100%;

    * {
      height: 0;
      opacity: 0;
    }

    &.innerlist-opened {
      &>li:not(.active) {
        display: none;
      }

      >li.active .menu__innerlist {
        transform: translate(0%);
        background: #ffffff;
        height: auto;
        display: block;

        * {
          opacity: 1;
          height: auto;
        }
      }
    }
  }

  &__innerlist {
    display: none;
    position: absolute;
    top: 0;
    transform: translate(100%);
    transition: transform .3s;
    width: 100%;

    * {
      height: 0;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 50;
  }

  .sublist-opened+.menu__list-info {
    display: none;
  }
}