.menu {
  @include screen(xl) {
    display: none;
  }

  @include screen(l) {
    margin-right: 15px;
    padding: 0 20px 0 10px;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
  }

  &__list {
    @include screen(xl) {
      display: block;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0;
      border-radius: 0;
      overflow: hidden;

      &-info {
        @include screen(xl) {
          display: flex;
          align-items: flex-end;
        }
      }

      &>.menu-label {
        @include screen(xl) {
          font: 600 18px/18px Helvetica;
          padding: 26px 20px 20px 20px;
        }
      }

      &>li {
        @include screen(xl) {
          border-top: 1px solid #E6E6E6;
        }

        &>a {
          @include screen(xl) {
            font: normal 16px/19px Helvetica;
            /*  pointer-events: none; */
          }

          &.active {
            @include screen(xl) {
              background: rgba(230, 230, 230, 0.3);
              color: #FF7914;
            }
          }
        }
      }
    }

    li {
      position: relative;

      &.has-child {
        &>a:first-child {
          position: relative;

          &::after {
            content: "";
            position: relative;
            top: 0;
            bottom: 0;
            right: 0;
            display: inline-block;
            margin: auto auto auto 8px;
            width: 8px;
            height: 8px;
            border-top: 2px solid;
            border-left: 2px solid;
            border-radius: 3px 0 0 0;
            transform: rotate(225deg) translate(0, 50%);
          }
        }
      }
    }

    a {
      position: relative;
      display: block;
      padding: 20px;

      @include screen(xl) {
        font: normal 16px/19px Helvetica;
      }

      @include screen(l) {
        font: 500 16px/20px Helvetica;
      }

      &:hover,
      &:active {
        @include screen(xl) {
          background: rgba(230, 230, 230, .3);
        }
      }

      &:hover {
        color: #FF7914;
      }
    }

    li {
      &:hover .menu__sublist {
        @include screen(l) {
          opacity: 1;
          pointer-events: initial;
        }
      }
    }
  }

  &__discount {
    a::after {
      display: none;
    }

    a::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 10px;
      height: 13px;
      background: url(../img/pic/ico/lightning.svg) no-repeat;

      @include screen(xl) {
        left: 85px;
      }

      @include screen(l) {
        right: 0;
      }
    }
  }

  &__sublist {
    @include screen(xl) {
      height: 0;
      /* opacity: 0; */
      border-top: 1px solid #E6E6E6;
      overflow: hidden;
    }

    @include screen(l) {
      position: absolute;
      top: calc(100% + 4px);
      left: -5px;
      min-width: 196px;
      padding: 5px 0;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      background: #fff;
      opacity: 0;
      pointer-events: none;
      transition: opacity .5s;

      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        height: 10px;
      }

      &::after {
        content: '';
        position: absolute;
        top: -8px;
        left: 45px;
        border: 8px solid transparent;
        border-top: none;
        border-bottom: 8px solid #fff;
        z-index: 1;
        transform: translateX(-50%);
      }
    }

    a {
      @include screen(xl) {
        font: normal 15px/18px Helvetica;
        padding: 10px 20px;
      }

      &::after {
        display: none;
      }

      @include screen(l) {
        padding: 8px 20px;
        font: 500 15px/18px Helvetica;
      }
    }
  }

  &.uk-offcanvas:not(.uk-open) {
    /*  @include screen(xl) {
      display: none !important;
    } */

    @include screen(l) {
      display: block;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      z-index: 50;
    }

    & .uk-offcanvas-bar {
      @include screen(l) {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        box-sizing: border-box;
        padding: 0;
        width: 100%;
        background: transparent;
        overflow-y: unset;
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  & .uk-offcanvas-bar {
    @include screen(xl) {
      padding: 0 0;
      background-color: #fff;
    }

    @include screen(l) {
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      margin: auto;
      padding: 0 10px;
      width: 100%;
      background: 0 0;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__list li.active {
    & .menu__sublist {
      @include screen(xl) {
        opacity: 1;
        /* height: 100%; */
      }
    }
  }

  &__footer {
    padding-bottom: 10px;
    background: #F4F4F4;

    li {
      margin: 10px 0 0 10px;
    }

    a {
      display: block;
      padding: 10px 15px;
      border: 1px solid #E5E5E5;
      border-radius: 8px;
      background: #FFFFFF;
      font: normal 16px/19px FuturaPT;

      &:after {
        display: none;
      }
    }
  }

  &__wrap {
    @include screen(xl) {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      height: 100%;
    }
  }
}