.pagination {
  div {
    width: 100%;
    max-width: 300px;
  }

  &__btn {
    position: relative;
    display: block;
    min-width: 40px;
    min-height: 40px;
    padding-top: 11px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    font: 600 14px/18px FuturaPT;
    backface-visibility: hidden;
    overflow: hidden;
    transition: color 0s, fill 0s;

    span {
      position: relative;
      z-index: 1;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    &:hover:after {
      background: linear-gradient(360deg, #FFB02D 0%, #FF7914 100%);
      opacity: 1;
    }

    &:hover {
      color: #ffffff;
    }

    &--active {
      background: linear-gradient(360deg, #FFB02D 0%, #FF7914 100%);
      color: #ffffff;
      border-radius: 12px;
    }

    &--prev {
      svg {
        transform: rotate(90deg);
      }

      &:hover {
        svg {
          fill: #ffffff;
        }
      }
    }

    &--next {
      svg {
        transform: rotate(-90deg);
      }

      &:hover {
        svg {
          fill: #ffffff;
        }
      }
    }

    &-big {
      position: relative;
      margin-bottom: 20px;
      padding: 20px 15px;
      width: 100%;
      max-width: 320px;
      background: linear-gradient(180deg, #FFB02D 0%, #FF7914 100%);
      box-shadow: 0px 4px 15px rgba(255, 121, 20, 0.4);
      border-radius: 12px;
      font: 500 16px/19px FuturaPT;
      color: #ffffff;
      overflow: hidden;
      backface-visibility: hidden;

      span {
        position: relative;
        z-index: 1;
      }

      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: background-color .3s, box-shadow .3s, color .1s, opacity .3s;
      }

      &:hover:after {
        background: #FF7914;
        opacity: 1;
      }

      &:before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 28%;
        margin: auto;
        width: 16px;
        height: 16px;
        background-image: url("../img/pic/ico/pagination-plus.svg");
        z-index: 2;
      }
    }
  }
}