.product-card {
  position: relative;

  &--default {
    padding: 20px 0 0;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    background: #ffffff;

    @include screen(xl) {
      overflow: hidden;
    }

    .product-card__image {
      position: relative;
      display: block;
      padding: 0 15px;
      min-height: 180px;
      margin-bottom: 5px;
      mix-blend-mode: darken;

      img {
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
        transition: transform .3s;
      }

      &::before {
        @include screen(l) {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 50px;
          margin: auto;
          width: 100%;
          height: 200px;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 70.11%);
          opacity: 0;
          z-index: 5;
        }
      }
    }

    &:hover {
      @include screen(l) {
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
      }
    }

    &:hover .product-card__image {
      img {
        @include screen(l) {
          position: relative;
          transform: scale(1.3, 1.3);
        }
      }

      &::before {
        @include screen(l) {
          opacity: 1;
        }
      }
    }

    &:hover .product-card__price {
      @include screen(l) {
        transform: translateY(-30px);
      }
    }

    &:hover .product-card__name {
      @include screen(l) {
        transform: translateY(-30px);
      }
    }

    &:hover .product-card__buttons {
      @include screen(l) {
        opacity: 1;
        z-index: 1;
        visibility: visible;
        bottom: -65px;
      }
    }

    .product-card__name {
      padding: 0 15px;
      margin-bottom: 10px;
      transition: transform .3s;

      a {
        display: block;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 55px;
        min-height: 55px;
        font: normal 18px/28px FuturaPT;
        color: #2B2D30;
      }

      span {
        font: 500 11px/13px Helvetica;
        color: #14D75D;
      }
    }

    .product-card__price {
      @include screen(l) {
        padding: 15px;
        border-top: 1px solid #F0F0F0;
        transition: transform .3s;
      }

      &-old {
        font: normal 14px/17px Helvetica;
        text-decoration-line: line-through;
        color: #333333;
        opacity: .2;
      }

      &-total {
        font: 500 24px/29px Helvetica;
        color: #2B2D30;
      }

      &-sale {
        padding: 2px 8px 3px;
        font: 700 12px/15px Helvetica;
        color: #FF4300;
        background-color: #FFF0EC;
        border-radius: 6px;

        @include screen(xl) {
          margin-bottom: 15px;
        }
      }
    }

    .product-card__buttons {
      padding: 0 15px 15px;
      background: #ffffff;

      @include screen(l) {
        position: absolute;
        z-index: -1;
        width: calc(100% + 2px);
        bottom: -35px;
        left: -1px;
        opacity: 0;
        visibility: hidden;
        border-bottom: 1px solid #f0f0f0;
        border-left: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
        border-radius: 0 0 12px 12px;
        box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.1);
        transition: all .3s;
      }

      button {
        padding: 8px 15px;
        border-radius: 6px;
        font: 500 16px/22px FuturaPT;

        &:first-of-type {
          margin-bottom: 10px;
        }
      }
    }

    .product-card__footer {
      @include screen(xl) {
        display: flex;
        padding-top: 15px;
        padding-left: 15px;
        border-top: 1px solid #f0f0f0;
      }
    }
  }

  &--super-price {
    background: linear-gradient(360deg, #FFE9E3 0%, #FFFFFF 57.06%) !important;

    .product-card__price-text {
      font: 500 11px/13px Helvetica;
      color: #FF5614;
    }

    .product-card__price-total {
      color: #FF5614 !important;
    }

    .product-card__price-sale {
      background: #ffffff !important;
    }

    &:hover .product-card__buttons {
      @include screen(l) {
        background: #FFE9E3 !important;
      }
    }

    .product-card__buttons {
      @include screen(xl) {
        background: transparent !important;
      }
    }
  }

  &--catalog {
    padding: 20px 0 15px;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    background: #ffffff;

    .product-card__image {
      position: relative;
      display: block;
      padding: 0 15px;
      min-height: 180px;
      margin-bottom: 15px;
      mix-blend-mode: darken;

      img {
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;

        @include screen(l) {
          transition: transform .3s;
        }
      }

      &::before {
        @include screen(l) {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 50px;
          margin: auto;
          width: 100%;
          height: 200px;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 70.11%);
          opacity: 0;
          z-index: 5;
        }
      }
    }

    &:hover {
      @include screen(l) {
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
      }
    }

    &:hover .product-card__image {
      img {
        @include screen(l) {
          position: relative;
          transform: scale(1.3, 1.3);
        }
      }

      &::before {
        @include screen(l) {
          opacity: 1;
        }
      }
    }

    &:hover .product-card__price {
      @include screen(l) {
        transform: translateY(0px);
      }
    }

    &:hover .product-card__name {
      @include screen(l) {
        transform: translateY(-30px);
      }
    }

    &:hover .product-card__buttons {
      @include screen(l) {
        opacity: 1;
        z-index: 1;
        visibility: visible;
        transition: all .3s;
        bottom: -47px;
      }
    }

    .product-card__name {
      transition: transform .3s;

      @include screen(xl) {
        padding-right: 15px;
      }

      a {
        display: block;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;

        font: normal 18px/28px FuturaPT;
        color: #2B2D30;

        @include screen(xl) {
          border-bottom: 1px solid #F0F0F0;
          padding-bottom: 10px;
          margin-bottom: 10px;
          max-height: 60px;
          min-height: 60px;
        }

        @include screen(l) {
          padding: 0 15px;
          max-height: 55px;
          min-height: 55px;
        }
      }
    }

    .product-card__status {
      font: 500 11px/13px Helvetica;
      color: #14D75D;

      @include screen(l) {
        padding: 0 15px;
      }
    }

    /* .product-card__price {
      border-top: 1px solid #F0F0F0;
      font: 500 24px/29px Helvetica;
      color: #2B2D30;
      transition: transform .3s;

      @include screen(xl) {
        padding-top: 15px;
        margin-top: 15px;
      }

      @include screen(l) {
        padding: 15px;
      }
    } */

    .product-card__price {
      @include screen(xl) {
        align-items: flex-start;
      }

      @include screen(l) {
        padding: 15px;
        border-top: 1px solid #F0F0F0;
        transition: transform .3s;
      }

      &-old {
        font: normal 14px/17px Helvetica;
        text-decoration-line: line-through;
        color: #333333;
        opacity: .2;
      }

      &-total {
        font: 500 24px/29px Helvetica;
        color: #2B2D30;
      }

      &-sale {
        padding: 2px 8px 3px;
        font: 700 12px/15px Helvetica;
        color: #FF4300;
        background-color: #FFF0EC;
        border-radius: 6px;

        @include screen(xl) {
          margin-bottom: 15px;
        }
      }
    }

    .product-card__buttons {
      padding: 0 15px 15px;
      background: #ffffff;

      @include screen(xl) {
        width: 100%;
      }

      @include screen(l) {
        position: absolute;
        z-index: -1;
        width: calc(100% + 2px);
        bottom: -10px;
        left: -1px;
        opacity: 0;
        visibility: hidden;
        border-bottom: 1px solid #f0f0f0;
        border-left: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
        border-radius: 0 0 12px 12px;
        box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.1);
        transition: all .3s;
      }

      .btn {
        padding: 8px 15px;
        border-radius: 6px;
        font: 500 16px/22px FuturaPT;

        @include screen(xl) {
          width: 100%;
        }

        &--green-gradient {
          @include screen(xl) {
            margin-right: 10px;
          }

          @include screen(l) {
            margin-bottom: 10px;
          }
        }
      }
    }

    .product-card__footer {
      @include screen(xl) {
        display: flex;
      }
    }
  }

  &__main {
    @include screen(xl) {
      padding-top: 30px;
    }

    @include screen(l) {
      padding-top: 40px;
    }

    &-title {
      @include screen(xl) {
        display: block;
        margin-bottom: 15px;
        font: 500 24px/32px FuturaPT;
        color: #ffffff;
        text-align: center;
      }
    }

    &--violet {
      @include screen(xl) {
        padding-right: 0;
        padding-bottom: 10px;
        background: linear-gradient(180deg, #B779FA 0%, #8044F3 100%);
      }
    }

    &--blue {
      @include screen(xl) {
        padding-right: 0;
        padding-bottom: 10px;
        background: linear-gradient(180deg, #64CEF7 0%, #34A0ED 100%);
      }
    }

    &--orange {
      @include screen(xl) {
        padding-right: 0;
        padding-bottom: 10px;
        background: linear-gradient(180deg, #FF964A 0%, #FF6B19 100%);
      }
    }

    &--violet-light {
      @include screen(xl) {
        padding-right: 0;
        padding-bottom: 10px;
        background: linear-gradient(180deg, #E39EF0 0%, #C365DD 100%);
      }
    }

    .product-card__button {
      position: relative;
      z-index: 101;
      border-radius: 12px;
      cursor: pointer;
      backface-visibility: hidden;
      transition: background-color .4s, box-shadow .4s;
      overflow: hidden;

      @include screen(xl) {
        align-self: flex-end;
        margin-right: 35px;
        width: 90px;
        white-space: nowrap;
      }

      @include screen(l) {
        padding: 20px;
        max-width: 80px;
        margin-right: 10px;
        padding-bottom: 20px;
      }

      &:after {
        @include screen(l) {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          transition: opacity 0.5s ease-out;
          opacity: 0;
        }
      }

      &:hover:after {
        @include screen(l) {
          opacity: 1;
        }
      }

      &--violet {
        color: #ffffff;

        @include screen(l) {
          background: linear-gradient(90deg, #B779FA 0%, #8044F3 100%);
        }

        &::after {
          @include screen(l) {
            background: linear-gradient(180deg, #B779FA 0%, #8044F3 100%);
          }
        }
      }

      &--blue {
        color: #ffffff;

        @include screen(l) {
          background: linear-gradient(90deg, #64CEF7 0%, #34A0ED 100%);
        }

        &::after {
          @include screen(l) {
            background: linear-gradient(180deg, #64CEF7 0%, #34A0ED 100%);
          }
        }
      }

      &--orange {
        color: #ffffff;

        @include screen(l) {
          background: linear-gradient(90deg, #FF964A 0%, #FF6B19 100%);
        }

        &::after {
          @include screen(l) {
            background: linear-gradient(180deg, #FF964A 0%, #FF6B19 100%);
          }
        }
      }

      &--violet-light {
        color: #ffffff;

        @include screen(l) {
          background: linear-gradient(90deg, #E39EF0 0%, #C365DD 100%);
        }

        &::after {
          @include screen(l) {
            background: linear-gradient(180deg, #E39EF0 0%, #C365DD 100%);
          }
        }
      }

      span {
        @include screen(xl) {
          display: none;
        }

        @include screen(l) {
          position: relative;
          display: block;
          z-index: 1;
          margin-right: 20px;
          white-space: nowrap;
          font: 500 16px/19px FuturaPT;
          transform: rotate(-90deg) translate(200%, 90%);
          height: 100%;
          width: 100%;
          transform-origin: 100% 100%;
          white-space: nowrap;
          font: 500 28px/33px FuturaPT;
          letter-spacing: -1px;
        }
      }

      a {
        position: relative;
        display: block;
        z-index: 1;
        color: #ffffff;

        @include screen(l) {
          transform: rotate(-90deg) translate(-30px, -10px);
          transform-origin: 100% 100%;
          white-space: nowrap;
          font: 500 16px/22px FuturaPT;
        }
      }

    }
  }

  &--banner {
    padding: 15px 20px 20px;
    border: 1px solid #F0F0F0;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    @include screen(l) {
      position: absolute;
      z-index: 1;
      top: 30px;
      right: 0;
      max-width: 280px;
    }

    .product-card {
      &__image {
        @include screen(xl) {
          flex: 0 0 33%;
          padding: 20px 0 0;
          margin-right: 15px;
        }

        @include screen(l) {
          padding: 25px 30px 0;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      &__title {
        font: 700 16px/21px FuturaPT;
        color: #14cbff;
        text-transform: uppercase;
      }

      &__date {
        font: 500 16px/19px FuturaPT;
        color: #a3a3a3;
        text-transform: uppercase;
      }

      &__name {
        font: 600 22px/30px FuturaPT;
        color: #333333;
        text-transform: uppercase;

        @include screen(xl) {
          padding: 20px 0 0;
          margin-bottom: 5px;
        }

        span {
          font-weight: 500;
          font-size: 20px;
        }
      }

      &__price {
        @include screen(l) {
          text-align: right;
        }

        &-old {
          font: normal 12px/14px Helvetica;
          color: #979797;
          text-decoration: line-through;

          @include screen(xl) {

            margin-right: 5px;
          }

          @include screen(l) {
            margin-bottom: 5px;
          }
        }

        &-sale {
          padding: 4px 7px 3px;
          font: 700 12px/15px Helvetica;
          color: #ff4300;
          background: #FFF0EC;
          border-radius: 10.5px;

          @include screen(l) {
            margin-bottom: 3px;
          }
        }

        &-total {
          font: 700 20px/30px Helvetica;
          color: #333333;
        }
      }

      &__buttons {
        margin-top: 15px;

        .btn {
          padding: 8px 15px;
          font: 500 16px/22px FuturaPT;
          border-radius: 6px;

          &:first-of-type {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  &--checkout {
    padding: 15px 0 10px;

    .product-card {
      position: relative;

      &__image {
        margin-right: 25px;
        padding: 0 5px;
        width: 90px;
        text-align: center;
        border-radius: 8px;
        background: #FFFFFF;

        img {
          width: 100%;
          height: auto;
        }
      }

      &__name {
        margin-bottom: 10px;
        font: normal 16px/26px FuturaPT;

        @include screen(x) {
          max-width: 75%;
        }

        @include screen(sm) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        @include screen(l) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__price {
        margin-bottom: 10px;

        &-old {
          font: normal 14px/17px Helvetica;
          text-decoration-line: line-through;
          color: #333333;
          opacity: .2;
        }

        &-total {
          font: 500 18px/22px Helvetica;
          color: #333333;
        }

        &-sale {
          padding: 2px 8px 3px;
          font: 700 12px/15px Helvetica;
          color: #FF7914;
          background-color: rgba(255, 121, 20, .05);
          border-radius: 6px;
        }
      }

      &__quantity {
        width: 75px;
        border: 1px solid #ECECEC;
        border-radius: 16px;
        font: 600 17px/20px FuturaPT;
        color: #333333;

        input {
          max-width: 25px;
          text-align: center;
          border: none;
        }

        svg {
          width: 10px;
          height: 10px;
          display: block;
          fill: #14D75D;
        }
      }

      &__close {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 10px;

        &:hover {
          svg {
            opacity: .7;
          }
        }

        svg {
          fill: rgb(204, 204, 204);
          transition: opacity .3s;
        }
      }
    }
  }

  &--checkout-sale {
    padding: 15px 10px 10px;
    background-color: #F7F7F7;

    .product-card {
      position: relative;

      &__sale {
        font: 700 12px/15px FuturaPT;
        text-transform: uppercase;
        opacity: .3;
      }

      &__image {
        margin-right: 25px;
        padding: 10px 5px;
        width: 90px;
        text-align: center;
        border: 1px solid #EBEBEB;
        border-radius: 8px;
        background: #FFFFFF;

        img {
          width: 100%;
          height: auto;
        }
      }

      &__name {
        margin-bottom: 10px;
        font: normal 16px/26px FuturaPT;

        @include screen(x) {
          max-width: 75%;
        }

        @include screen(sm) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        @include screen(l) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__price {
        margin-bottom: 10px;

        &-old {
          font: normal 14px/17px Helvetica;
          text-decoration-line: line-through;
          color: #333333;
          opacity: .2;
        }

        &-total {
          font: 500 18px/22px Helvetica;
          color: #333333;
        }

        &-sale {
          padding: 2px 8px 3px;
          font: 700 12px/15px Helvetica;
          color: #FF7914;
          background-color: rgba(255, 121, 20, .05);
          border-radius: 6px;
        }
      }

      &__close {
        position: absolute;
        right: 15px;
        top: 5px;
        padding: 10px;

        &:hover {
          svg {
            opacity: .7;
          }
        }

        svg {
          fill: rgb(204, 204, 204);
          transition: opacity .3s;
        }
      }
    }
  }

  &--checkout-recommendation {
    padding: 15px 0 10px;
    background-color: #F7F7F7;

    @include screen(xl) {
      border-radius: 12px;
      padding: 15px 10px 10px;
    }

    .product-card {
      position: relative;

      &__image {
        margin-right: 25px;
        padding: 10px 5px;
        width: 90px;
        text-align: center;
        border: 1px solid #EBEBEB;
        border-radius: 8px;
        background: #FFFFFF;

        img {
          width: 100%;
          height: auto;
          max-width: 80px;
        }
      }

      &__name {
        margin-bottom: 10px;
        font: normal 16px/26px FuturaPT;

        @include screen(l) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__price {
        margin-bottom: 10px;

        &-old {
          font: normal 14px/17px Helvetica;
          text-decoration-line: line-through;
          color: #333333;
          opacity: .2;
        }

        &-total {
          font: 500 18px/22px Helvetica;
          color: #333333;
        }

        &-sale {
          padding: 2px 8px 3px;
          font: 700 12px/15px Helvetica;
          color: #FF7914;
          background-color: rgba(255, 121, 20, .05);
          border-radius: 6px;
        }
      }

      &__adds {
        padding: 9px 20px 9px 15px;
        max-width: 130px;
        border-radius: 6px;
        font: 500 16px/22px FuturaPT;
        color: #14D75D;
        background: #FFFFFF;
        transition: background-color .3s, color .3s, fill .3s;

        @include screen(xl) {
          display: flex;
        }

        @include screen(l) {
          position: absolute;
          top: 20px;
          right: 0;
        }

        &:hover {
          color: #FFFFFF;
          background: #14D75D;

          svg {
            fill: #FFFFFF;
          }
        }

        svg {
          margin-right: 12px;
          width: 16px;
          height: 16px;
          fill: #14D75D;
          transition: fill .3s;
        }
      }
    }
  }

  &--large {
    padding: 15px;
    border: 1px solid #F0F0F0;
    border-radius: 12px;

    .product-card {
      &__image {
        position: relative;
        mix-blend-mode: darken;

        @include screen(xl) {
          margin-bottom: 30px;
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }

      &__price {
        &-old {
          margin-right: 10px;
          font: normal 12px/14px Helvetica;
          color: #979797;
          text-decoration: line-through;
        }

        &-sale {
          padding: 4px 7px 3px;
          font: 700 12px/15px Helvetica;
          color: #ff4300;
          background: #FFF0EC;
          border-radius: 10.5px;

          @include screen(l) {
            margin-bottom: 3px;
          }
        }

        &-total {
          font: 700 32px/39px Helvetica;
          color: #333333;
        }
      }

      &-credit {
        margin-top: 20px;
        padding-top: 15px;
        border-top: 2px solid rgba(185, 186, 186, .3);

        span {
          font: 300 16px/19px Helvetica;

          span {
            margin: 0 5px;
            font-size: 30px;
          }
        }

        button {
          text-align: left;
          padding: 0;
          font: 500 14px/24px FuturaPT;
          color: #FF7914;

          @include screen(xl) {
            margin-left: 15px;
          }

          @include screen(l) {
            margin-left: 35px;
          }
        }
      }

      &-buttons {
        margin-top: 15px;

        .btn {
          padding: 12px 15px;
          font: 500 18px/24px FuturaPT;
          border-radius: 6px;

          @include screen(l) {
            width: 160px;
          }

          &:first-of-type {
            margin-bottom: 10px;
          }
        }
      }

      &__subtitle {
        margin-bottom: 20px;
        text-transform: uppercase;
        font: 700 12px/15px FuturaPT;
        color: rgba(43, 45, 48, .3);
      }

      &__tooltip {
        position: relative;

        a {
          font: normal 12px/16px FuturaPT;
          text-decoration-line: underline;
          color: rgba(51, 51, 51, .3);
          cursor: pointer;

          &:hover+div {
            opacity: 1;
          }
        }

        &-content {
          position: absolute;
          background: #FFFFFF;
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
          border-radius: 6px;
          pointer-events: none;
          opacity: 0;
          z-index: 100;
          transition: opacity .3s;

          @include screen(xl) {
            width: 280px;
            top: 35px;
            left: -15px;
            padding: 15px;
          }

          @include screen(l) {
            top: -260px;
            padding: 20px;
            width: 340px;
            max-width: 320px;
          }

          &::after {
            @include screen(xl) {
              content: "";
              position: absolute;
              top: -8px;
              left: 73px;
              border: 8px solid transparent;
              border-top: none;
              border-bottom: 8px solid #ffffff;
              z-index: 11;
              transform: translateX(-50%);
            }

            @include screen(l) {
              content: "";
              position: absolute;
              bottom: -8px;
              border: 8px solid transparent;
              border-top: none;
              border-bottom: 8px solid #ffffff;
              z-index: 1;
              transform: translateX(-50%) rotate(180deg);
            }
          }
        }

        &-title {
          margin-bottom: 5px;
          font: 600 16px/21px FuturaPT;
        }
      }
    }
  }

  &--popup {
    padding: 10px;

    .product-card {
      position: relative;

      &__image {
        margin-right: 25px;
        padding: 0 5px;
        width: 90px;
        text-align: center;
        border-radius: 8px;
        background: #FFFFFF;

        img {
          width: 100%;
          height: auto;
        }
      }

      &__name {
        margin-bottom: 10px;
        font: normal 16px/26px FuturaPT;

        @include screen(sm) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        @include screen(l) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__price {
        margin-bottom: 10px;

        &-old {
          font: normal 14px/17px Helvetica;
          text-decoration-line: line-through;
          color: #333333;
          opacity: .2;
        }

        &-total {
          font: 500 18px/22px Helvetica;
          color: #333333;
        }

        &-sale {
          padding: 3px 8px 2px;
          font: 700 12px/15px Helvetica;
          color: #ffffff;
          background-color: #FF5614;
          border-radius: 6px;
        }
      }
    }
  }
}