.search {
  position: relative;

  @include screen(xl) {
    order: 1;
    margin: 7px 10px 0 10px;
  }

  @include screen(l) {
    margin-right: 10px;
    flex: 1;
  }

  &__open {
    @include screen(xl) {
      display: none;
    }

    @include screen(l) {
      display: none;
    }
  }

  &__close {
    opacity: 0;
    position: absolute;
    right: 105px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: opacity .3s;
    pointer-events: none;
    z-index: 350;

    svg {
      vertical-align: middle;
      width: 14px;
      height: 14px;
      fill: #B8B4B4;
    }
  }

  &__btn {
    opacity: 0;
    position: absolute !important;
    right: 5px;
    top: 5px;
    max-width: 85px;
    padding: 8px 20px;
    font: 600 16px/22px FuturaPT;
    border-radius: 6px;
    z-index: 1000;
    transition: opacity .3s;
    pointer-events: none;
  }

  input {
    padding: 18px 50px 14px;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    background: url('../img/pic/ico/search.svg') 20px center no-repeat, #ffffff;
    /* box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1); */
  }

  &__result {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 55px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
    transition: opacity .3s;

    a {
      display: block;
      padding: 17px 20px 15px;
      border-bottom: 1px solid #E6E6E6;

      &:hover {
        background: #F4F4F4;
      }
    }
  }

  .search-mobile {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    border: 2px solid #141413;
    background-color: transparent;
    outline: none;
    padding: 0;
    /* padding-left: 40px; */
    /* box-sizing: border-box; */
    font-size: 30px;
    color: transparent;
    /* font-family: 'Quicksand', sans-serif; */
    transition: 0.5s;
    z-index: 1;
  }

  input {
    background: none;
  }

  ::placeholder {
    opacity: 0;
    color: rgba(255, 255, 255, 0.5)
  }

  .search-mobile:focus::placeholder {
    opacity: 1;
  }

  .search-mobile:focus {
    padding: 25px;
    transform: translate(-210px, -15px);
    width: 300px;
    color: #eaeae8;
    background: #ffffff;
    z-index: 300;
  }

  .searchbox {
    position: relative;
    height: 25px;
    width: 25px;
  }

  .searchbox:before {
    position: absolute;
    content: '';
    background-color: #141413;
    height: 10px;
    width: 2px;
    transform: rotate(-45deg);
    bottom: -3px;
    right: 0;
  }

  search::-webkit-search-cancel-button {
    /*  left: 50px; */
    position: relative;
  }

  .search-mobile:focus::-webkit-search-cancel-button {
    /* left: -20px; */
  }
}