.search {
  position: relative;
  z-index: 105;

  @include screen(xl) {
    order: 1;
    margin-top: 7px;
    margin-right: 10px;
  }

  @include screen(l) {
    margin-right: 15px;
    flex: 1;
  }

  &__open {
    @include screen(l) {
      display: none;
    }
  }

  &__close {
    opacity: 0;
    position: absolute;
    right: 105px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: opacity .3s;
    pointer-events: none;

    svg {
      vertical-align: middle;
      width: 14px;
      height: 14px;
      fill: #B8B4B4;
    }
  }

  &__btn {
    opacity: 0;
    position: absolute !important;
    right: 5px;
    top: 5px;
    max-width: 85px;
    padding: 8px 20px;
    font: 600 16px/22px FuturaPT;
    border-radius: 6px;
    z-index: 1000;
    transition: opacity .3s;
    pointer-events: none;
  }

  input {
    padding: 20px 50px 13px;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    background: url('../img/pic/ico/search.svg') 20px center no-repeat, #F8F8F8;
  }

  &__result {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 55px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
    transition: opacity .3s;

    a {
      display: block;
      padding: 17px 20px 15px;
      border-bottom: 1px solid #E6E6E6;

      &:hover {
        background: #F4F4F4;
      }
    }
  }
}