.about {
  font: 400 14px/24px Helvetica;

  @include screen(xl) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include screen(l) {
    padding: 60px 15px 40px;
  }

  .title {
    @include screen(xl) {
      padding: 0 15px;
      margin-bottom: 15px;
    }

    @include screen(l) {
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    margin-bottom: 10px;
    font: 500 18px/28px FuturaPT;
    color: #2B2D30;

    &:last-of-type {
      @include screen(xl) {
        margin-top: 25px;
      }

      @include screen(l) {
        margin-top: 30px;
      }
    }
  }

  p {
    @include screen(xl) {
      padding: 0 15px;
    }

    &:first-child {
      @include screen(xl) {
        margin-bottom: 15px;
      }

      @include screen(l) {
        margin-bottom: 5px;
      }
    }
  }

  span {
    display: inline-block;
    font-size: 12px;
    color: #ABABAB;

    @include screen(xl) {
      padding: 0 15px;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;

    @include screen(xl) {
      margin-bottom: 10px;
      padding: 0 15px;
    }

    @include screen(l) {
      margin-bottom: 20px;
    }
  }

  &__content {
    div:first-child {
      @include screen(l) {
        padding-right: 50px;
      }
    }
  }

  img {
    border-radius: 12px;
    overflow: hidden;

    @include screen(xl) {
      margin-top: 25px;
      width: 100%;
      height: auto;
      max-width: 600px;
    }

    @include screen(l) {
      max-width: 580px;
      max-height: 400px;
    }
  }

  .features {
    border-top: 1px solid #DFDFDF;

    @include screen(xl) {
      margin-top: 20px;
      padding: 20px 0 0;
    }

    @include screen(l) {
      margin-top: 40px;
      padding-top: 40px;
    }

    @include screen(l) {
      text-align: center;
    }

    div {
      @include screen(l) {
        margin: 0 auto 20px;
      }
    }

    p {
      @include screen (xl) {
        padding: 0;
      }

      @include screen(l) {
        padding: 0 30px;
      }

      br {
        @include screen(l) {
          display: none;
        }
      }

    }
  }
}