.checkout {
  .breadcrumbs {
    @include screen(xl) {
      padding: 10px 15px 0;
      margin-bottom: 20px;
    }

    @include screen(l) {
      padding: 20px 0 0;
      margin-bottom: 30px;
    }
  }

  .title {
    @include screen(xl) {
      margin-bottom: 10px;
    }

    @include screen(l) {
      margin-bottom: 10px;
      max-width: 860px;
    }
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    font: 600 18px/26px FuturaPT;
  }

  &__form {
    padding: 15px 20px 20px;
    border: 1px solid #E7E7E7;
    background: #F7F7F7;
    border-radius: 12px;

    .checkout__title {
      margin-bottom: 20px;
    }

    .btn {
      padding: 12px 15px 14px;
      border-radius: 6px;
      font: 500 18px/24px FuturaPT;
      color: #ffffff;
    }
  }

  &__total {
    font: normal 14px/26px FuturaPT;

    &-number {
      font-weight: 600;
      color: #333333;

      &--lg {
        font-size: 24px;
        line-height: 28px;

      }

      &--md {
        font-size: 16px;
        line-height: 21px;
        opacity: .5;
      }

      &--sm {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }

  &__delivery {
    margin-bottom: 25px;
    font: 500 14px/18px Helvetica;
    color: #333333;
    background: #FFFFFF;
    border-radius: 8px;

    li {
      position: relative;

      &:not(:first-of-type)::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 2px;
        height: 15px;
        background-color: #B9BABA;
        opacity: 0.3;
      }
    }

    label {
      position: relative;
      display: block;
      text-align: center;
      padding: 10px 15px 9px;
      transition: color .4s;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        margin: auto;
        width: 0;
        height: 5px;
        background-color: transparent;
        border-radius: 0px 0px 6px 6px;
        transition: width .4s;
      }
    }

    input:checked+label {
      color: #14CBFF;

      &::after {
        width: 90%;
        background-color: #14CBFF;
        box-shadow: 0px 6px 15px rgba(0, 205, 255, 0.4);
        border-radius: 0px 0px 6px 6px;
      }
    }
  }

  &__point {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(185, 186, 186, .1);
    text-align: center;
    font: normal 14px/24px Helvetica;
    opacity: .5;
  }

  &__field {
    margin-bottom: 15px;

    span {
      font: 600 14px/18px FuturaPT;
    }

    input {
      margin-top: 10px;
      padding: 15px;
      border: 1px solid #ECECEC;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      background: #FFFFFF;
    }

    label {
      font: 600 14px/18px FuturaPT;
    }
  }

  &__radio {
    padding: 0 0 20px 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(185, 186, 186, .1);
    font: normal 14px/17px Helvetica;

    li {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    label {
      position: relative;
      cursor: pointer;
    }

    input+label::after {
      content: "";
      position: absolute;
      left: -25px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #ffffff;
    }

    input:checked+label::before {
      content: "";
      position: absolute;
      left: -22px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #FF7914;
      z-index: 1;
    }
  }

  &__check {
    padding-left: 25px;
    margin-bottom: 15px;

    label {
      position: relative;
      cursor: pointer;
    }

    input+label::after {
      content: "";
      position: absolute;
      left: -25px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      background-color: #ffffff;
    }

    input:checked+label::before {
      content: "";
      position: absolute;
      left: -22px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 15px;
      height: 10px;
      background: url("../img/pic/ico/check-orange.svg") no-repeat;
      z-index: 1;
    }
  }

  &__credit {
    margin-top: 20px;
    padding: 5px 20px;
    background: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;

    span {
      &:first-of-type {
        font: 600 16px/22px FuturaPT;
        color: #FF7914;
      }

      &:last-of-type {
        font: normal 14px/36px Helvetica;
        color: #333333;

        span {
          font-size: 20px;
        }
      }
    }
  }

  &__cards {
    margin-bottom: 30px;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    overflow: hidden;

    .checkout__card:not(:first-child):not(.checkout__card--sale) {
      border-top: 2px solid rgba(185, 186, 186, .2);
    }

    .checkout__card:not(.checkout__card--sale) {
      margin: 0 10px;
    }
  }

  /* Слайдер */

  &__swiper {
    position: relative;
    overflow: hidden;
    max-height: 240px;
    border-radius: 12px;


    @include screen(xl) {
      padding-right: 15px;
      padding-bottom: 35px;
    }

    @include screen(l) {
      background: #F7F7F7;
    }

    .product-card {
      @include screen(l) {
        margin: 0 30px 0 10px;
        border-bottom: 2px solid rgba(185, 186, 186, .2);
      }
    }
  }

  .swiper-pagination {
    @include screen(xl) {
      position: relative;
      bottom: -15px;
      left: 40px !important;
      overflow: visible;
    }

    @include screen(l) {
      display: none;
    }
  }

  .swiper-pagination-bullet-active {
    top: -1px;
    height: 5px;
    width: 40px;
    background: #FF7914;
    border-radius: 2.5px;
  }

  .swiper-container-vertical>.swiper-scrollbar {
    background-color: transparent;
  }

  .swiper-scrollbar {
    @include screen(xl) {
      display: none !important;
    }
  }

  /* ------------------ */

  &__empty {
    margin-bottom: 40px;

    p {
      margin-bottom: 30px;
      font: normal 18px/26px FuturaPT;
    }

    .btn {
      padding: 11px 40px;
      width: 150px;
      border-radius: 6px;
      font: 600 16px/22px FuturaPT;
    }
  }
}