.header {
  position: relative;
  z-index: 100;
  background-color: #ffffff;

  @include screen(xl) {
    padding: 10px 0;
    border-bottom: 1px solid #E3E8EB;
  }

  &__container {
    @include screen(l) {
      margin-bottom: 15px;
      padding: 0 25px;
    }
  }

  &__top {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #F0F0F0;

    a {
      font: normal 16px/20px FuturaPT;

      &:hover {
        color: #FF7914;
      }
    }

    ul {
      margin-right: 120px;
    }
  }

  &__cart {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    border-radius: 12px;
    -webkit-backface-visibility: hidden;

    @include screen(xl) {
      justify-content: center;
      width: 58px;
      height: 58px;
    }

    @include screen(l) {
      max-width: 220px;
      color: #ffffff;
      padding: 10px 10px 10px 20px;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      transition: opacity 0.5s ease-out;
      z-index: 2;
      opacity: 0;
    }

    &:hover:after {
      opacity: 1;
    }

    &--orange {
      background: #FF7914;
      box-shadow: 0px 6px 15px rgba(255, 86, 20, 0.4);

      &:after {
        background: #FF5614;
        box-shadow: 0px 6px 15px rgba(255, 86, 20, 0.4);
      }
    }

    &--green {
      background-image: linear-gradient(180deg, #90E744 0%, #53B525 100%);
      box-shadow: 0px 6px 15px rgba(137, 225, 64, 0.4);

      &:after {
        box-shadow: 0px 5px 20px rgba(137, 225, 64, 0.6);
        background-image: linear-gradient(180deg, #8EE641 0%, #43D000 100%);
      }
    }

    svg {
      fill: #FFFFFF;
      position: relative;
      z-index: 3;

      @include screen(l) {
        margin-right: 15px;
      }
    }

    span {
      position: relative;
      z-index: 3;

      @include screen(xl) {
        display: none;
      }

      &:first-of-type {
        @include screen(l) {
          margin-right: 20px;
          font: 500 18px/24px FuturaPT;
        }
      }

      &:last-of-type {
        @include screen(l) {
          padding: 10px 20px;
          border-radius: 6px;
          font: 300 16px/19px FuturaPT;
          white-space: nowrap;
          background: rgba(51, 51, 51, 0.2);
        }
      }
    }
  }

  &__contact {
    @include screen(xl) {
      margin-right: 25px;
    }

    @include screen(l) {
      width: 185px;
    }

    svg {
      @include screen(xl) {
        width: 24px;
        height: 24px;
        fill: #000000;
      }

      @include screen(l) {
        fill: #d2d2d2;
      }
    }

    a {
      font: 600 20px/26px FuturaPT;

      &:hover {
        color: #FF7914;
      }

      span {
        @include screen(xl) {
          display: none;
        }
      }
    }

    div {
      @include screen(xl) {
        display: none;
      }

      @include screen(l) {
        padding-left: 21px;
        font: normal 12px/16px FuturaPT;
        opacity: .5;
      }
    }
  }

  &__logo {
    @include screen(xl) {
      margin-right: 30px;
    }

    @include screen(l) {
      margin-right: 40px;
    }
  }

  &__feedback {
    font: normal 16px/20px FuturaPT;

    span:first-child {
      margin-right: 30px;
      color: #FF7914;
      cursor: pointer;
    }

    span:last-child {
      position: relative;
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #00FF97;
      }
    }
  }

  &__hamburger {
    @include screen (xs) {
      margin-right: 20px;
      padding: 0;
    }

    span {
      @include screen (xs) {
        display: flex;
        width: 32px;
        height: 4px;
        background: #333333;
        border-radius: 1.5px;
      }

      &:not(:last-of-type) {
        @include screen (xs) {
          margin-bottom: 6px;
        }
      }
    }
  }

  .uk-container {
    @include screen(xl) {
      flex-direction: row;
    }
  }
}