.header {
  position: relative;
  z-index: 150;
  background-color: #ffffff;

  @include screen(xl) {
    border-bottom: 1px solid #E3E8EB;
  }

  &__container {
    @include screen(xl) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @include screen(l) {
      padding: 15px 0;
    }

    &.uk-sticky-fixed {
      padding-top: 3px;
      padding-bottom: 3px;

      &.bg-full-width-header::after {
        background: #ffffff;
        box-shadow: 0 1px 15px rgba(0, 0, 0, .1);
      }

      .header__catalog-popup {
        padding-top: 58px !important;
      }
    }
  }

  &__top {
    padding: 7px 0 6px;
    font: normal 16px/20px FuturaPT;
    background-color: #f7f7f7;

    .uk-container {
      @include screen(l) {
        padding: 0 15px;
      }
    }

    &-text-gray {
      color: #777777;
    }

    &-text-orange {
      color: #FF7914;
      white-space: nowrap;
    }
  }

  &__links-list {
    padding: 0 40px 0 0;
    max-width: 720px;

    a {
      font: normal 16px/20px FuturaPT;

      &:hover {
        color: #FF7914;
      }
    }
  }

  &__cart {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    backface-visibility: hidden;

    @include screen(xl) {
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 12px;
      padding: 0;
      order: 1;
    }

    @include screen(l) {
      width: 145px;
      color: #FF7914;
      padding: 13px 15px;
      border-radius: 12px;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      z-index: 2;
      opacity: 0;
    }

    &:hover:after {
      opacity: 1;
      border: none;
    }

    &--active {
      background-image: linear-gradient(180deg, rgb(144, 231, 68) 0%, rgb(83, 181, 37) 100%);
      box-shadow: 0px 6px 15px rgba(137, 225, 64, 0.6);

      span {
        color: #ffffff;
      }

      svg {
        fill: #ffffff;
      }

      &:after {
        box-shadow: 0px 5px 20px rgba(137, 225, 64, 0.6);
        background-image: linear-gradient(180deg, rgb(142, 230, 65) 0%, rgb(67, 208, 0) 100%);
      }
    }

    svg {
      position: relative;
      z-index: 3;

      @include screen(l) {
        margin-right: 15px;
      }
    }

    span {
      position: relative;
      z-index: 3;

      @include screen(xl) {
        display: none;
      }

      &:first-of-type {
        @include screen(l) {
          font: 500 16px/22px FuturaPT;
        }
      }
    }
  }

  &__contact {
    @include screen(xl) {
      margin: 0 10px 0 auto;
    }

    svg {
      @include screen(xl) {
        width: 24px;
        height: 24px;
        fill: #000000;
      }

      @include screen(l) {
        fill: #d2d2d2;
        margin-right: 10px;
      }
    }

    a {
      font: 600 16px/22px FuturaPT;

      &:hover {
        color: #FF7914;
      }

      span {
        @include screen(xl) {
          display: none;
        }
      }
    }

    div {
      @include screen(xl) {
        display: none;
      }

      @include screen(l) {
        font: normal 12px/14px FuturaPT;
        opacity: .5;
      }
    }
  }

  &__logo {
    @include screen(xl) {
      margin-right: 20px;
      margin-top: 2px;
    }

    @include screen(l) {
      margin-right: 30px;
    }

    img {
      @include screen(xl) {
        width: 100px;
        height: 25px
      }

      @include screen(l) {
        width: 142px;
        height: 36px;
      }
    }
  }

  &__feedback {
    font: normal 16px/20px FuturaPT;

    span:first-child {
      margin-right: 30px;
      color: #FF7914;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      transition: border-color .3s;

      &:hover {
        border-color: #FF7914;
      }
    }

    span:last-child {
      position: relative;
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #00FF97;
      }
    }
  }

  &__hamburger {
    @include screen (xl) {
      margin-right: 15px;
      padding: 0;
    }

    span {
      @include screen (xl) {
        display: flex;
        width: 32px;
        height: 4px;
        background: #FF7914;
        border-radius: 1.5px;
      }

      &:not(:last-of-type) {
        @include screen (xl) {
          margin-bottom: 6px;
        }
      }
    }
  }

  .uk-container {
    @include screen(xl) {
      flex-direction: row;
    }
  }

  &--sticky {
    @include screen(l) {
      padding: 10px 0;
      border-bottom: 1px solid #E3E8EB;
    }

    .header__top {
      @include screen(l) {
        display: none;
      }
    }

    .header__cart {
      @include screen(l) {
        justify-content: center;
        padding: 0;
        width: 58px;
        height: 58px;
      }

      span {
        @include screen(l) {
          display: none;
        }
      }

      svg {
        @include screen(l) {
          margin-right: 0;
        }
      }
    }

    .header__container {
      @include screen(l) {
        margin-bottom: 0;
      }
    }

    .header__contact {
      @include screen(l) {
        width: auto;
        margin: 7px 20px 0 auto;
      }

      svg {
        @include screen(l) {
          width: 24px;
          height: 24px;
          fill: #000000;
        }
      }

      a {
        span {
          @include screen(l) {
            display: none;
          }
        }
      }

      div {
        @include screen(l) {
          display: none;
        }
      }
    }

    .header__logo {
      @include screen(l) {
        margin-right: 20px;
        margin-top: 7px;
      }
    }

    .header__hamburger {
      @include screen (l) {
        display: block !important;
        margin-right: 15px;
        padding: 0;
      }

      span {
        @include screen (l) {
          display: flex;
          width: 32px;
          height: 4px;
          background: #FF7914;
          border-radius: 1.5px;
        }

        &:not(:last-of-type) {
          @include screen (l) {
            margin-bottom: 6px;
          }
        }
      }
    }

    .uk-container {
      @include screen(l) {
        flex-direction: row;
      }
    }

    .menu {
      @include screen(l) {
        display: none !important;
      }

      &__list {
        @include screen(l) {
          display: block;
          width: 100%;
          background-color: #ffffff;
          box-shadow: 0;
          border-radius: 0;
          overflow: hidden;

          &-info {
            @include screen(l) {
              display: flex;
              align-items: flex-end;
            }
          }

          &>.menu-label {
            @include screen(l) {
              font: 600 18px/18px Helvetica;
              padding: 26px 20px 20px 20px;
            }
          }

          &>li {
            @include screen(l) {
              border-top: 1px solid #E6E6E6;
            }

            &>a {
              @include screen(l) {
                font: normal 16px/19px Helvetica;
              }

              &.active {
                @include screen(l) {
                  background: rgba(230, 230, 230, 0.3);
                  color: #FF7914;
                }
              }
            }
          }
        }

        a {
          @include screen(l) {
            font: normal 16px/19px Helvetica;
          }

          &:hover,
          &:active {
            @include screen(l) {
              background: rgba(230, 230, 230, .3);
            }
          }
        }
      }

      &__discount {
        a::before {
          @include screen(l) {
            left: 85px;
          }
        }
      }

      &__sublist {
        @include screen(l) {
          height: 0;
          border-top: 1px solid #E6E6E6;
          overflow: hidden;
        }

        a {
          @include screen(l) {
            font: normal 15px/18px Helvetica;
            padding: 10px 20px;
          }
        }
      }

      & .uk-offcanvas-bar {
        @include screen(l) {
          padding: 0 0;
          background-color: #fff;
        }
      }

      &__list li.active {
        & .menu__sublist {
          @include screen(l) {
            opacity: 1;
          }
        }
      }

      &__wrap {
        @include screen(l) {
          display: flex;
          align-items: stretch;
          flex-wrap: wrap;
          height: 100%;
        }
      }
    }

    .search {
      @include screen(l) {
        flex: 0;
        order: 1;
        margin-top: 7px;
        margin-right: 10px;
      }

      input {
        @include screen(l) {
          display: none;
        }
      }

      &__open {
        @include screen(l) {
          display: block;
        }
      }
    }
  }

  &__catalog {
    margin-right: 10px;
    position: relative;
    width: 100%;
    max-width: 148px;

    &-blur {
      position: absolute;
      opacity: 0;
    }

    &-btn {
      position: relative;
      z-index: 300;
      width: 100%;
      padding: 11px 15px;
      border-radius: 6px;
      background: #FF7914;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 6px 15px rgba(255, 86, 20, 0.4);
      }

      span {
        margin-left: 20px;
        font: 500 18px/24px FuturaPT;
        color: #ffffff;
      }
    }

    &-popup {
      padding-top: 104px !important;
      background-color: rgba(0, 0, 0, .2);
      backdrop-filter: blur(5px);

      .uk-modal-body {
        padding: 15px;
      }

      .uk-modal-dialog {
        transition: none;
      }

      .header__catalog-btn {
        position: absolute;
        top: -47px;
        left: 187px;
        width: 148px;

        &:hover {
          box-shadow: none;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: -10px;
          top: -10px;
          width: 113%;
          height: 144%;
          border-radius: 20px 20px 20px 20px;
          border: 10px solid #ffffff;
        }
      }
    }

    &-container {
      &::after {
        content: '';
        position: absolute;
        top: -19px;
        left: 320.1px;
        width: 50px;
        height: 50px;
        background: url('../img/pic/bg/catalog-bord.svg') no-repeat, transparent;
      }

      &::before {
        content: '';
        position: absolute;
        top: -19px;
        left: 150.9px;
        width: 50px;
        height: 50px;
        background: url('../img/pic/bg/catalog-bord.svg') no-repeat, transparent;
        transform: scale(-1, 1);
      }
    }

    &-menu {
      position: relative;
      padding: 7px 0 7px 7px;
      width: 260px;
      background: #F2F4F5;
      border-radius: 8px;
    }

    &-list {
      &:hover {
        background: #FFFFFF;
      }

      &.active {
        background: #FFFFFF;
        border-radius: 100px 0px 0px 100px;

        .header__catalog-sublist {
          opacity: 1;
          pointer-events: inherit;
        }

        &>a {
          span {
            color: #FF7914;
          }
        }
      }

      &>a {
        position: relative;
        display: block;
        padding: 13px 15px 11px;
        overflow: hidden;

        &:hover {
          span {
            color: #FF7914;
          }
        }

        span {
          font: 500 18px/24px FuturaPT;
          color: #333333;
        }
      }
    }

    &-sublist {
      position: fixed;
      top: 0;
      right: 0px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 35px 20px 20px 30px;
      width: 77%;
      height: 100%;
      opacity: 0;
      pointer-events: none;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 15px;
        left: -15px;
        top: 0;
        background: transparent;
      }

      a {
        padding: 5px 0;
        font: normal 18px/24px FuturaPT;
        color: #525252;

        &:hover {
          color: #FF7914;
        }
      }

      li {
        margin-bottom: 12px;

        &:first-of-type {
          margin-bottom: 15px;
        }
      }

      ul {
        margin-bottom: 30px;
      }

      li:hover {
        .header__catalog-innerlist {
          opacity: 1;
          pointer-events: inherit;
        }

        &>a {
          span {
            color: #FF7914;
          }
        }
      }
    }

    &-innerlist {
      position: absolute;
      top: 0;
      right: -160px;
      padding: 11px 5px;
      min-width: 150px;
      border: 1px solid #F0F0F0;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      background: #FFFFFF;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 15px;
        left: -15px;
        top: 0;
        background: transparent;
      }

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 15px;
        right: -15px;
        top: 0;
        background: transparent;
      }

      a {
        transition: color 0s;

        span {
          padding-left: 0;
        }

        &:hover {
          color: #FF7914;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  &__login {
    position: relative;
    margin-left: 10px;
    padding: 12px 45px 12px 20px;
    width: 215px;
    font: 500 16px/22px FuturaPT;
    color: #FF7914;
    background: #FFFFFF;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.08);
    border-radius: 12px;

    &:hover {
      box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
    }

    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 7px;
      height: 12px;
      background: url('../img/pic/ico/arrow-next.svg') no-repeat;
      background-size: cover;
    }
  }
}