.main-banner {
  position: relative;
  overflow: hidden;
  padding-bottom: 85px;
  background: #F2F2F2;

  .swiper-slide {
    background: #fff;
  }

  &__content {
    position: relative;
    z-index: 1;

    @include screen(xl) {
      padding: 320px 15px 50px 20px;
    }

    @include screen(l) {
      padding: 40px 0 70px 15px;
    }

    .btn {
      margin-top: 20px;
      padding: 10px 15px;
      max-width: 128px;
      border-radius: 6px;
      font: 500 16px/22px FuturaPT;
    }
  }

  &__container {
    position: relative;
    min-height: 425px;

    &--mia3 {
      .main-banner__image {
        width: 100%;
        height: auto;

        @include screen(xl) {
          position: absolute;
          top: 10px;
          max-width: 390px;
        }

        @include screen(l) {
          position: absolute;
          max-width: 425px;
          top: 10px;
          left: 400px;
        }
      }
    }
  }

  &__sticker {
    font: 700 16px/21px FuturaPT;
    color: #14cbff;
  }

  &__title {
    display: block;
    color: #2B2D30;

    @include screen(xl) {
      font: 600 32px/41px FuturaPT;
    }

    @include screen(l) {
      font: 600 50px/64px FuturaPT;
    }
  }

  &__price {
    margin: 20px 0 5px;

    @include screen(xl) {
      display: flex;
    }

    &-old {
      color: #333333;
      opacity: .4;

      @include screen(xl) {
        margin-right: 10px;
        font: normal 18px/28px Helvetica;
      }

      @include screen(l) {
        font: normal 18px/24px Helvetica;
      }
    }

    &-total {
      display: block;
      color: #333333;

      @include screen(xl) {
        font: 700 18px/28px Helvetica;
      }

      @include screen(l) {
        font: 700 32px/42px Helvetica;
      }
    }
  }

  &__special {
    font: normal 12px/14px Helvetica;
    opacity: .4;
  }
}