.main-banner {
  position: relative;
  overflow: hidden;
  /* background: #F7F7F7; */

  @include screen(xl) {
    padding-bottom: 35px;
  }

  @include screen(l) {
    /*  padding-bottom: 120px; */
    /* padding-bottom: 30px; */
  }

  .swiper-slide {
    background: #fdfdfd;

    @include screen(l) {
      padding-bottom: 30px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    @include screen(xl) {
      /*  padding: 320px 15px 50px 20px; */
    }

    @include screen(l) {
      /*  padding: 50px 0 30px 50px; */
      min-height: 420px;
    }

    .btn {
      margin-top: 20px;
      padding: 10px 15px;
      max-width: 128px;
      border-radius: 6px;
      font: 500 16px/22px FuturaPT;
    }
  }

  &__container {
    position: relative;

    @include screen(xl) {
      padding-left: 0;
      padding-right: 0;
      height: 402px;
    }

    @include screen(l) {
      min-height: 425px;
    }

    &>div {
      @include screen(l) {
        width: 875px;
        margin: 10px auto auto 0;
        /* border: 1px solid #F0F0F0; */
        /*  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1); */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        mix-blend-mode: darken;
      }
    }

    &--1 {
      .main-banner__image {
        display: block;
        width: 100%;
        height: auto;

        @include screen(xl) {
          /*  position: absolute; */
          /* max-width: 390px; */
          margin: 0 auto;
          height: 402px;
          width: inherit;
          max-width: inherit;
        }

        @include screen(l) {
          /* position: absolute; */
          width: 100%;
          height: auto;
          object-fit: cover;
          /* background: #F7F5F6; */
        }
      }
    }

    &--2 {
      .main-banner__image {
        width: 100%;
        height: auto;

        @include screen(xl) {
          position: absolute;
          top: 10px;
          max-width: 390px;
        }

        @include screen(l) {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &--3 {
      .main-banner__image {
        width: 100%;
        height: auto;

        @include screen(xl) {
          position: absolute;
          /* top: 10px;
          max-width: 390px; */
          width: 100%;
          height: 100%;
          object-fit: contain;
          background: #F7F5F6;
        }

        @include screen(l) {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: contain;
          background: #F7F5F6;
        }
      }
    }

    &--4 {
      .main-banner__image {
        width: 100%;
        height: auto;

        @include screen(xl) {
          position: absolute;
          top: 10px;
          max-width: 390px;
        }

        @include screen(l) {
          position: absolute;
          max-width: 425px;
          top: 50px;
          left: 400px;
        }
      }
    }
  }

  &__sticker {
    text-transform: uppercase;
    font: 700 16px/21px FuturaPT;
    color: #14cbff;
  }

  &__title {
    display: block;
    color: #2B2D30;

    @include screen(xl) {
      font: 600 32px/41px FuturaPT;
    }

    @include screen(l) {
      font: 600 50px/64px FuturaPT;
    }
  }

  &__price {
    margin: 20px 0 5px;

    @include screen(xl) {
      display: flex;
    }

    &-old {
      text-decoration: line-through;
      color: #333333;
      opacity: .4;

      @include screen(xl) {
        margin-right: 10px;
        font: normal 18px/28px Helvetica;
      }

      @include screen(l) {
        font: normal 18px/24px Helvetica;
      }
    }

    &-total {
      display: block;
      color: #333333;

      @include screen(xl) {
        font: 700 18px/28px Helvetica;
      }

      @include screen(l) {
        font: 700 32px/42px Helvetica;
      }
    }
  }

  &__special {
    font: normal 12px/14px Helvetica;
    opacity: .4;
  }

  .main-banner__swiper-button-next {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    mix-blend-mode: luminosity;

    /* @include screen(x) {
      bottom: calc(50% - 80px);
      right: 20px;
    }

    @include screen(sm) {
      bottom: calc(50% + 20px);
      right: 20px;
    } */

    @include screen(xl) {
      bottom: calc(50% - 140px);
      right: 20px;
      background: url(../img/pic/ico/arrow-next.svg) center no-repeat, rgba(0, 0, 0, .5);
    }

    @include screen(l) {
      top: calc(50% - 80px);
      right: 20px;
      background: url(../img/pic/ico/arrow-next.svg) center no-repeat, #F7F7F7;
    }

    &:hover {
      mix-blend-mode: normal;
    }
  }

  .main-banner__swiper-button-prev {
    position: absolute;
    z-index: 1;
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    background: #F7F7F7;
    border-radius: 50%;

    cursor: pointer;
    mix-blend-mode: luminosity;

    /* @include screen(x) {
      bottom: calc(50% - 80px);
      right: 80px;
    }

    @include screen(sm) {
      bottom: calc(50% + 20px);
      right: 80px;
    } */
    @include screen(xl) {
      bottom: calc(50% - 140px);
      right: 80px;
      background: url(../img/pic/ico/arrow-next.svg) center no-repeat, rgba(0, 0, 0, .5);
    }

    @include screen(l) {
      left: 20px;
      top: calc(50% - 80px);
      background: url(../img/pic/ico/arrow-next.svg) center no-repeat, #F7F7F7;
    }

    &:hover {
      mix-blend-mode: normal;
    }
  }

  .product-card {
    @include screen(xl) {
      margin: 10px 10px 0;
      max-width: 500px;
    }
  }

  &__pagination-container {
    position: relative;
  }

  .swiper-pagination {
    @include screen(xl) {
      transform: translate(25px, 23px);
    }

    @include screen(l) {
      left: 0;
      margin: auto;
      transform: translate(25px, -30px);
    }

    &-bullet {
      margin-right: 5px;
      background: #C9C9C9;
      opacity: 1;
      transition: background-color .3s, box-shadow .3s;

      @include screen(xl) {
        vertical-align: top;
        width: 40px;
        height: 5px;
        border-radius: 0px 0px 6px 6px;
      }

      @include screen(l) {
        vertical-align: top;
        width: 128px;
        height: 5px;
        border-radius: 0px 0px 6px 6px;
      }

      &-active {
        background: #14CBFF;
        box-shadow: 0px 6px 15px rgba(0, 205, 255, 0.4);
      }
    }
  }

  .header__catalog-menu {
    display: block;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateX(-455px);
    height: max-content;
    z-index: 10;

    li:last-of-type {
      a::after {
        display: none;
      }
    }
  }

  &__mini {
    @include screen(l) {
      position: absolute;
      z-index: 10;
      top: -450px;
      right: 15px;
    }

    &-wrap {
      @include screen(l) {
        position: relative;
      }
    }


    &-block {
      @include screen(l) {
        padding: 30px 15px;
        width: 285px;
        height: 205px;
        border-radius: 12px;
        text-align: center;
      }

      p {
        font: 500 24px/24px FuturaPT;
        color: #333333;
      }

      span {
        font: 500 16px/24px FuturaPT;
        color: #333333;
      }

      &--1 {
        margin-bottom: 10px;
        background: url(../img/pic/bg/main-banner-mini-1.jpg) no-repeat, #ffffff;
        background-size: 205px 110px;
        background-position: center 90px;
        box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.08);
      }

      &--2 {
        background: url(../img/pic/bg/main-banner-mini-2.jpg) no-repeat, #ffffff;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
      }
    }
  }
}