.reviews {
  .breadcrumbs {
    @include screen(xl) {
      padding: 10px 15px 0;
    }

    @include screen(l) {
      padding: 20px 30px 0;
    }
  }

  .title {
    @include screen(xl) {
      margin-bottom: 20px;
    }

    @include screen(l) {
      padding-left: 30px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 10px 12px 10px 20px;
    background: #F4F4F4;
    border-radius: 6px;

    span {
      margin-right: 30px;
      font: 500 16px/19px FuturaPT;
    }

    .reviews__plus {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0;
      width: 26px;
      height: 26px;
      background-color: #ffffff;
      border-radius: 50%;

      svg {
        fill: #FF7914;
      }
    }
  }

  .pagination {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #dbdee4;
    border-radius: 0.5px;
  }

  /* отзывыв на главной */
  &__main {
    @include screen(xl) {
      padding-top: 30px;
      padding-bottom: 20px;
    }

    @include screen(l) {
      padding-top: 40px;
      padding-bottom: 60px;
    }

    .title {
      @include screen(xl) {
        margin-bottom: 15px;
      }

      @include screen(l) {
        margin-bottom: 30px;
      }
    }

    .review {
      max-width: 405px;
      height: 410px;

      p {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        max-height: 260px;
      }
    }

    .reviews__button-vertical {
      position: relative;
      z-index: 101;
      background: #F4F4F4;
      border-radius: 12px;
      cursor: pointer;
      transition: background-color .4s, box-shadow .4s;

      @include screen(xl) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0 0 0 auto;
        padding: 10px 15px 10px 20px;
        width: 185px;
      }

      @include screen(l) {
        padding: 20px;
        max-width: 80px;
        margin-right: 10px;
        padding-bottom: 20px;
      }

      &:hover {
        background: #ffffff;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
      }

      span {
        display: block;

        @include screen(xl) {
          margin-right: 20px;
          white-space: nowrap;
          font: 500 16px/19px FuturaPT;
        }

        @include screen(l) {
          transform: rotate(-90deg) translate(200%, 90%);
          height: 100%;
          width: 100%;
          transform-origin: 100% 100%;
          white-space: nowrap;
          font: 500 28px/33px FuturaPT;
          letter-spacing: -1px;
        }
      }
    }

    .reviews__plus {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: #ffffff;

      @include screen(xl) {
        width: 26px;
        height: 26px;
      }

      @include screen(l) {
        width: 34px;
        height: 34px;
      }

      svg {
        fill: #FF7914;

        @include screen(xl) {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}