.site-map {
  @include screen(xl) {
    margin-bottom: 100px;
  }

  @include screen(l) {
    margin-bottom: 180px;
  }

  .breadcrumbs {
    @include screen(xl) {
      padding: 10px 15px 0;
    }

    @include screen(l) {
      padding: 20px 15px 0;
    }
  }

  .title {
    @include screen(l) {
      margin: 30px 0 15px;
    }
  }

  &__lists {
    @include screen(l) {
      padding-left: 15px;
    }
  }

  &__list {
    position: relative;

    @include screen(xl) {
      padding: 10px 0 0;
    }

    @include screen(l) {
      padding: 20px 0 0;
    }

    &--md {
      margin-top: 10px;
    }

    &--sm {
      box-shadow: -19px 0 0 #ffffff;
      padding-top: 5px;
      margin-top: 10px;
    }
  }

  &__item {
    &--lg {
      margin-bottom: 14px;
      font: normal 18px/21px FuturaPT;
      color: #333333;
    }

    &--md {
      padding: 4px 0 11px 15px;
      border-left: 4px solid rgba(185, 186, 186, .3);
      font: normal 14px/17px Helvetica;
      color: #30373d;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &--sm {
      padding: 4px 0 6px 15px;
      border-left: 4px solid rgba(185, 186, 186, .3);
      font: normal 12px/14px Helvetica;
      color: #30373d;
    }
  }
}